<style>
    .hero {
        background-image: url("{{ heroImage }}");
    }
</style>

<section id="hero" class="hero">
    <div class="container min-vh-100">
        <div class="row min-vh-100 d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-1 hero-typography">
                {{ title }}
            </h1>
            <a class="btn btn-light scroll-content-button" href="#main-content">Scroll to Content</a>
        </div>
    </div>
</section>