    <nav class="navbar navbar-expand-lg navbar-light shadow sticky-top menu">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{{ '/assets/img/project-logo.png' | url }}" height="50px"/>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="/">Home</a>
            </li>
            {% for menu in dataNavbar %}
            <li class="nav-item dropdown">
              <a class="nav-link mx-2" href="#" id="projectNavbarDropdown" role="button" aria-expanded="false">{{ menu.name }}</a>
              <ul class="dropdown-menu" aria-labelledby="projectNavbarDropdown">
                {% for submenu in menu.submenu %}
                <li><a class="dropdown-item" href="{{ submenu.href }}">{{ submenu.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>