    <nav class="navbar navbar-expand-lg navbar-light menu">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://2021.igem.org/wiki/images/5/55/T--UGM_Indonesia--project_logo.png" height="55px"/>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="projectNavbarDropdown" role="button" aria-expanded="false">Project</a>
              <ul class="dropdown-menu" aria-labelledby="projectNavbarDropdown">
                <li><a class="dropdown-item" href="#">Description</a></li>
                <li><a class="dropdown-item" href="#">Design</a></li>
                <li><a class="dropdown-item" href="#">Engineering</a></li>
                <li><a class="dropdown-item" href="#">Implementation</a></li>
                <li><a class="dropdown-item" href="#">Safety</a></li>
                <li><a class="dropdown-item" href="#">Contribution</a></li>
                <li><a class="dropdown-item" href="#">Poster</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="wetLabNavbarDropdown" role="button" aria-expanded="false">Wet Lab</a>
              <ul class="dropdown-menu" aria-labelledby="wetLabNavbarDropdown">
                <li><a class="dropdown-item" href="#">Logbook</a></li>
                <li><a class="dropdown-item" href="#">Parts</a></li>
                <li><a class="dropdown-item" href="#">Experiments</a></li>
                <li><a class="dropdown-item" href="#">Results</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="dryLabNavbarDropdown" role="button" aria-expanded="false">Dry Lab</a>
              <ul class="dropdown-menu" aria-labelledby="dryLabNavbarDropdown">
                <li><a class="dropdown-item" href="#">Logbook</a></li>
                <li><a class="dropdown-item" href="#">Model</a></li>
                <li><a class="dropdown-item" href="#">Bioreactor</a></li>
                <li><a class="dropdown-item" href="#">Measurements</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="humanPracticeNavbarDropdown" role="button" aria-expanded="false">Human Practice</a>
              <ul class="dropdown-menu" aria-labelledby="humanPracticeNavbarDropdown">
                <li><a class="dropdown-item" href="#">Integrated Human Practices</a></li>
                <li><a class="dropdown-item" href="#">Education and Communication</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="teamNavbarDropdown" role="button" aria-expanded="false">Team</a>
              <ul class="dropdown-menu" aria-labelledby="teamNavbarDropdown">
                <li><a class="dropdown-item" href="#">Members</a></li>
                <li><a class="dropdown-item" href="#">Attributions</a></li>
                <li><a class="dropdown-item" href="#">Collaborations</a></li>
                <li><a class="dropdown-item" href="#">Partnership</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="awardsNavbarDropdown" role="button" aria-expanded="false">Awards</a>
              <ul class="dropdown-menu" aria-labelledby="awardsNavbarDropdown">
                <li><a class="dropdown-item" href="#">Awards</a></li>
                <li><a class="dropdown-item" href="#">Medals</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>