@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

#main-content .display-4 {
    font-family: "Montserrat Bold";
}

section#main-content p, section#main-content li {
    font-family: "Montserrat Regular";
    text-align: left;
}

section#main-content .content-references li {
    font-size: 1rem; 
    word-break: break-all;
}



section#main-content blockquote {
    font-family: "Montserrat Light";
    width: 60%;
    align-self: center;

    @include media-breakpoint-down(lg) {
        width: 75%;
    }
}

section#main-content figure figcaption {
    font-family: "Montserrat Regular";
    align-self: center;
}

section#main-content section::before{
    height: 100px;
    content: "";
    display: block;
}

section#main-content div.scrollspy{
    position: relative;
    height: auto;
    overflow-y: scroll;
}