@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

section#main-content  {
    margin-bottom: 4rem;

    section.content-references h4.display-4{
        font-family: "Montserrat Bold";
        margin-bottom: 2rem;
        clear: right;
    }

    section:not(.content-references) h4.display-4{
        font-family: "Montserrat Bold";
        margin-bottom: 2rem;
        clear: right;

        &::before{
            float: right;
            transform: translateY(50%);
            margin-left: 2rem;
    
            content: "";
            width: 217px;
            height: 35px;
            background: url("/assets/img/decorative-h4-header.png");
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;
    
            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }
}

section#main-content p, section#main-content li {
    font-family: "Montserrat Regular";
    text-align: left;
    line-height: 2;
    margin: 1rem 0;
}

section#main-content section:not(.content-references)>ol{
    margin: 0;
    padding-left: 4rem;

    @include media-breakpoint-down(lg) {
        padding-left: 3rem;
    }

    >li{
        &::marker{
            font-family: "Montserrat Bold";
            font-size: 2.5rem;
            color: $primary;
            
            @include media-breakpoint-down(lg) {
                font-size: 2rem;
            }
        }

        & h5 {
            font-family: "Montserrat Bold";
            font-size: 1.5rem;
            color: $white;
        }
    
        color: $white;
        background-color: $primary;
        padding: 0 2rem 2rem 2rem;
        border-radius: 1rem;
    }
}

section#main-content h5 {
    font-family: "Montserrat Medium";
    text-align: left;
    margin: 1rem 0;
}

section#main-content h6 {
    font-family: "Montserrat Regular";
    font-weight: 600;
    text-align: left;
    margin: 0.875rem 0;
}

section#main-content .content-references li {
    font-size: .75rem;
    line-height: 1.5; 
    word-break: break-all;
}

section#main-content .content-references {
    & h4 {
        border-top: 0.1rem solid $gray-400;
        font-size: 2.5rem; 
        word-break: break-all;
    }
}


section#main-content blockquote {
    font-family: "Montserrat Light";
    width: 60%;
    align-self: center;

    @include media-breakpoint-down(lg) {
        width: 75%;
    }
}

section#main-content figure figcaption {
    font-family: "Montserrat Regular";
    align-self: center;
    margin-bottom: 2rem;
}

section#main-content figure img {
    margin-top: 2.5rem;
}

section#main-content section::before{
    height: 100px;
    content: "";
    display: block;
}

section#main-content div.scrollspy{
    position: relative;
    height: auto;
    overflow-y: scroll;
}