@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

footer#footer {
    background-color: $primary;

    .sponsors {
        background-color: $white;
        border-radius: 30px;

        img {
            width: auto;
            overflow: hidden;
        }
    }

    #footer-contact {
        h5 {
            color: $white;
            font-family: "Montserrat Bold";
            font-size: 1.5rem;
        }

        p {
            color: $white;
            font-family: "Montserrat Regular";
            font-size: 1rem;
        }
    }
}