@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

.hero {
    background-color: $primary;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    box-shadow: inset 0 0 0 4000px rgba($primary, 0.7);
}

.hero-typography {
    width: fit-content;
    display: block;
    color: $white;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.25));
    border-bottom: 10px solid $secondary;

    font-family: "Montserrat Bold";
}

.scroll-content-button {
    display: block;
    margin-top: 1rem;
    width: fit-content;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.25));

    font-family: "Montserrat Regular";
}