@use '../custom' as *;
@use '../components/typography' as *;
@use '../components/mixins' as *;

.sticky-sidebar .sticky-offset {
    top: 100px;

    a {
        font-family: "Montserrat Regular";
        color: $gray-600;
    }
}