<!doctype html>
<html lang="{{ metadata.language }}">

  <head>
  {% include 'snippets/head.njk' %}
  </head>

  <body data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="240">
    {% include 'snippets/navbar.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer id="footer" class="container-fluid">
        {% include 'snippets/footer.njk' %}
    </footer>

  </body>
</html>