<!doctype html>
<html lang="{{ metadata.language }}">

  <head>
  {% include 'snippets/head.njk' %}
  </head>

  <body data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="160">
    {% include 'snippets/navbar.njk' %}

    <main>
      {% include 'snippets/hero.njk' %}
      <section id="content" class="content pt-5">
        <div class="container">
          <div class="row">
            {{ content | safe }}
          </div>
        </div>
      </section>
    </main>

    <footer class="container">
        {% include 'snippets/footer.njk' %}
    </footer>

  </body>

</html>