---
layout: layouts/default.njk
title: Attributions
heroImage: /assets/img/hero-attributions.jpg
dataSidebar: [
    {"href" : "#attributions", "name" : "Attributions"}
]
---

section#team-work
  h4.display-4.text-primary
    | Team Work
  p
    | Yustika Sari: leading our team through assisting our works and assuring our progress. Besides, contributing in wet lab works such as parts design and plasmid assembly; dry lab works such as kinetic modelling and genome scale model.
  p
    | Setianing Wikanthi: heading the wet lab works, such as plasmid construction, HCN production assay, and HCN degradation assay.
  p
    | I.G.A. Arvin Nanda P.: heading the dry lab works, such as kinetic modelling, genome scale modelling, and bioreactor designing. Besides, contributing in publication & media works such as Instagram feed design; human practice works in the scope of economic calculation of bioreactor.
  p
    | Waffiq Maaroja: responsible for dry lab works such as kinetic modelling and genome scale modelling.
  p
    | Ridwan Fathoni: heading the human practice works, such as community approach, expert & stakeholder interview, and event organizing such as UGM Synbio Online Festival and Indonesian iGEM teams’ collaboration.
  p
    | Azzahra Asysyifa: responsible for human practice works, such as literature review, pharmacology expert interview, gold miner cooperative troubleshooting, and Indonesian iGEM teams’ collaboration. Besides, contributing in publication & media works as the contact person and promotional & presentation video script writer and voice over.
  p
    | Ahmad Zidan: heading the wiki works in the scope of wiki designing and programming.
  p
    | Wilda Asyrina Maris: heading the publication & media works, such as Twitter & Instagram contents design & publication, event poster & presentation design, and promotional & presentation video. Besides, contributing in wiki works in the scope of graphic figure design.
  p
    | Yafi Surya Permana: responsible for wiki and publication & media works such as wiki content creation and Twitter & Instagram content publication.
  p
    | Farhan Wali Bachtier: heading the fundraising works, such as sponsorship and stakeholder engagement, marketing management, and promotional activities.
  p
    | Dennaya Kumara: responsible for the progress report, discussion notes, project and sponsorship proposal drafting, and external letter drafting.
  p
    | Shina Aulia: responsible for the disbursement of internal funds, cash flow management, and progress report. Besides, contributing in fundraising works in the scope of sponsorship engagement; human practice works in the scope of survey data analysis.
section#primary-investigators
  h4.display-4.text-primary
    | Primary Investigators
  p
    | Dr. Yekti Asih Purwestri, S.Si., M.Si. (Primary PI), Widhi Dyah Sawitri, S.Si., M.Agr., Ph.D. (Secondary PI), and Muhammad Saifur Rohman, SP, M.Si., M. Eng., Ph.D. (Secondary PI): assisting in a lab work permission request and experiment materials procurement as well as providing lab safety guidance.
section#instructors
  h4.display-4.text-primary
    | Instructors
  p
    | Matin Nuhamunada, S.Si., M.Sc. (Instructor): welcoming our team to the iGEM competition and giving support and guidance throughout the project especially for dry lab consultation. Imam Bagus Nugroho, S.Si., M.Sc. and Afif Pranaya Jati, S.P., M.Sc. (Instructors): giving support and guidance throughout the project especially for wet lab consultation.
section#advisors
  h4.display-4.text-primary
    | Advisors
  p
    | Aries Bagus Sasongko, S.Si., M.Biotech. and Lisna Hidayati, S.Si., M. Biotech., as our Advisors, lecturers from Faculty of Biology UGM, who provide assistance in financial proposals.
  p
    | Himawan Tri Bayu Murti Petrus, ST., ME, D.Eng. and Ir. Agus Prasetya, M.Eng.Sc., Ph.D., as our Advisors, lecturers from Department of Chemical Engineering UGM, who provide guidance related to gold cyanidation and bioreactor.
  p
    | Prof. Ir. Irfan Dwidya Prijambada, M.Eng., Ph.D., as our Advisor, lecturer from Department of Agricultural Microbiology UGM, who provides access to the C. violaceum ATCC 12472-strain being stored at the Laboratory of Microbiology, Faculty of Medicine, Public Health, and Nursing UGM.
  p
    | Ahmad Ardi, S.Si., as our Advisor, master’s student of Microbiology in North Dakota State University, alumnus of Faculty of Biology UGM, who provides guidance related to our project.
section#special-thanks
  h4.display-4.text-primary
    | Special Thanks to
  p
    | Dewi Baiq Krisnayanti, Ph.D., for kindly sharing useful information about the GOLD-ISMIA project and the issues that we have to tackle in the future, such as the bioreactor environment that the bacteria will have to endure to have an optimum leaching process.
  p
    | Ria Camelina, for expanding our knowledge on the current condition of the gold miners from a social and economic point of view and introducing mining cooperatives, so we can consider the economic value of our project instead of being eco-friendly.
  p
    | Suparyanto, for kindly sharing about ASGM's views on the cyanidation method and the challenges faced by ASGM, so we can gain a strong background for our research.
section#other-mentionable
  h4.display-4.text-primary
    | Other Mentionable Support
  p
    | Also our sincere thanks to:
  p
    | dr. Titik Nuryastuti, M.Si., Ph.D, SpMK(K), for facilitating our access to the Laboratory of Microbiology, Faculty of Medicine, Public Health, and Nursing UGM.
  p
    | Prof. Dr. Ir. Antonius Suwanto, M.Sc., for providing us with pBBR1MCS-2 plasmid as the source of origin of replication.
  p
    | Hanna Kristian Putri, for assisting our wet lab works.
  p
    | Wahyu Dwi Soematri and Rahmat Talib, for assisting our presentation video production.
  p
    | Unsplash (link: https://unsplash.com/license), for providing images for our Wiki pages.
  p
    | The iGEM 2020 Team from BITS Goa, for providing the iGEM WikiSync software (link: https://github.com/igembitsgoa/igem-wikisync) to upload our Wiki.
section#institutional
  h4.display-4.text-primary
    | Institutional Support and Sponsors
  p
    | It is an honor to have received support from some parties below:
  p
    | Biotechnology Laboratory of Inter University Center in UGM, for providing us a place to conduct our project.
  p
    | Sub-Directorate of Student Creativities in UGM, for providing financial support for our project.