---
layout: layouts/default.njk
title: Awards
heroImage: /assets/img/hero-attributions.jpg
dataSidebar: [
    {"href" : "#human-practice", "name" : "Best Integrated Human Practice"},
    {"href" : "#sustainable", "name" : "Best Sustainable Development Impact"},
    {"href" : "#communication", "name" : "Best Education"},
    {"href" : "#model", "name" : "Best Model"}
]
---

section#human-practice
  h4.display-4.text-primary Best Integrated Human Practice
  p 
    | For iGEM UGM Indonesia, Integrated Human Practice is the key to AUVIOLA journey. We tried our best to create a human practices design to make Auviola a problem-driven solution that follows what people need. Our integrated human practices framework reflects on our activities such as literature review, interviews, and the sharing session, presented on the
    |
    a(href="/Human_Practices") Human Practices
    |
    | page, to understand current problems in gold mining activities which will be the foundation of our project. We visited and spoke to the small gold miners in Kulonprogo, Yogyakarta, the chief of GOLD ISMIA project which is under the supervision of the United Nations Development Program, and environmental experts about cyanide waste problem and its management. From those problems, we created some reflections as our guide to formulate and build the solutions using synthetic biology. Furthermore, we aimed to propose implementation and future improvement, presented on the
    |
    a(href="/Implementation") Proposed Implementation
    |
    | page, that hopefully can be realised in the future.
section#sustainable
  h4.display-4.text-primary Best Sustainable Development Impact
  h5.display-5.text-primary (6, 13, 14, 15)
  p 
    | The UGM Indonesia iGEM team tried to map the possible impact of AUVIOLA to help achieve The 2030 Agenda for Sustainable Development with its 17 Sustainable Development Goals (SDGs). AUVIOLA has the potential to fulfill 11 out of 17 SDGs including SDGs number 1: No poverty, No. 3: Good Health and Well Being, No. 6: Clean Water and Sanitation, No. 8: Decent Work and Economic Growth, No. 9: Industry Innovation and Infrastructure, No. 11: Sustainable Cities and Communities, No.12 Responsible Consumption and Production, No.13: Climate Action, No.14: Life Below Water, No. 15: Life on Land, No.17: Partnership for the Goals. However, this year we are focusing on the four SDGs  that become the foundation in the Wedding Cake model of SDGs, by speaking with as many people and experts as possible that will help us to understand the solution and create the best solution and target the right problem. To see the model please visit
    |
    a(href="/Sustainable") Sustainable Development Impact
    |
    | page.
section#communication
  h4.display-4.text-primary Best Education
  p 
    | Our team has conducted various events aimed to educate students and the community about synthetic biology. We targeted a diverse audience ranging from high school students, university students, professionals, and industries. Our aim is to introduce and raise an awareness of synthetic biology as there are still a limited number of people who know about synthetic biology in Indonesia. We created several ways to deliver the knowledge; first, by collaborating with the provincial government's education department, which has a program in preparation for the national student research competition. We were able to deliver an introductory webinar about synthetic biology and engage with the students through interactive games with doorprize. Second, we invited a synthetic biology expert as a speaker in our online webinar. Third, we conduct a hands-on online workshop on in-silico plasmid design using Benchling giving the high school and university students, even the general public who are interested in synthetic biology a chance to experience how to design a plasmid. We also conducted a pre and post-test as a way to analyze and measure whether our intervention had successfully increased the audience’s knowledge and skills of synthetic biology. To see details about it please check the
    |
    a(href="/Communication") Education and Communication
    |
    | page.
section#model
  h4.display-4.text-primary Best Model
  p 
    | To describe how gold cyanidation works comprehensively on cellular level, iGEM Team Universitas Gadjah Mada developed 2 types of model: kinetic modelling and genome scale model. Kinetic modelling is utilized to provide us with chemical reaction models, equations, and parameters. This is useful for scaling up from laboratory experiment to industrial scale process. The genome scale model is used to analyse which metabolic reactions might hinder or limit HCN production in C. violaceum. We use optknock and optgene to see if we can rewire the flux towards HCN production by knocking out other reactions in the metabolic pathways. Not only on a cellular level, we also design and modelled bioreactors to explore how our model will work in real life. It is based on 2 types of gold ore : refractory and non-refractory. We make sure that our system will work on both type, and to succeed it we need to combine the perspective of synthetic biology and mineral processing. In conclusion, our model that developed with multiple approach will brings us towards a feasible and efficient gold mining with bioleaching process.  To see details about it please check the
    |
    a(href="/Model") Models
    |
    | page.