---
layout: layouts/default.njk
title: Collaborations
heroImage: /assets/img/hero-contribution.jpg
dataSidebar: [
    {"href" : "#ugm-synbio-festival-2021", "name" : "UGM SynBio Online Festival 2021"}
]
---

<div class="col-12 col-lg-9">
    <section id="ugm-synbio-festival-2021">
        <h4 class="display-4 text-primary mb-4">
            UGM SynBio Online Festival 2021
        </h4>
        <p>
            On August 27th and 28th, we held an online event entitled UGM Synbio Online Festival 2021. Our main goals in organizing this event were to introduce synthetic biology and iGEM competition as well as promote our Auviola project to Indonesian students. This event was also attended by other iGEM teams from Universitas Indonesia, Universitas Brawijaya, Moscow city, and Korea_HS in order to provide various perspectives as well as create a comprehensive collaboration.
        </p>
        <p>
            Being held for two days, the UGM Synbio Online Festival consisted of three sessions; i.e., (1) Webinar, (2) Discussion, Brainstorming, and Hands-on of in silico Plasmid Design, (3) Mini Talkshow: Meet the iGEM Teams, which the 1st session was held on the first day and the others were on the second day. The other iGEM teams sent their representatives and attended the 3rd session. In order to create an intimate discussion, we were introducing our team members and sharing our projects with each other. In addition, we gained various insights by sharing our problems and how to solve them.
        </p>
        <p>
            Our four guest stars were awesome in conducting their project. Their brilliant ideas and great aptitude were behind their swift and well-organized progress. These collaborations have led our team members to be more enthusiastic in working on our Auviola project. Our last event was amazing! Thank you for guesting on ours and see you at the medal ceremony!
        </p>
        <figure class="my-2 text-center">
            <img src="{{ '/assets/img/collaborations-synbiofest.png' | url }}" class="figure-img img-fluid rounded" alt="The documentation of UGM Synbio Online Festival – Mini Talkshow: Meet the iGEM Teams">
            <figcaption class="figure-caption"><b>The documentation of UGM Synbio Online Festival – Mini Talkshow: Meet the iGEM Teams</figcaption>
        </figure>
    </section>
</div>