---
layout: layouts/default.njk
title: Collaborations
heroImage: /assets/img/hero-contribution.jpg
dataSidebar: [
    {"href" : "#ugm-synbio-festival-2021", "name" : "UGM SynBio Online Festival 2021"}
]
---

figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/collaboration-0.png" style="max-width:70%; width:70%")
section#mini-talkshow
  h4.display-4.text-primary
    | Mini Talkshow: Meet the iGEM Teams
  figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/collaboration-1.jpg" style="max-width:70%; width:70%")
  p On August 27#[sup th] and 28#[sup th], we held an online event entitled UGM Synbio Online Festival 2021. Being held for two days, the UGM Synbio Online Festival consisted of three sessions. Mini Talkshow: Meet the iGEM Teams was the last session of the UGM Synbio Online Festival. Special for this session, we invited 4 guest star iGEM teams from Universitas Indonesia, Universitas Brawijaya, Moscow city, and Korea_HS as a speaker.
  p In order to create an intimate discussion, we were introducing our team members and sharing our projects with each other. In addition, we gained various insights by sharing our problems and how to solve them. Our four guest stars were awesome in conducting their project. Their brilliant ideas and great aptitude were behind their swift and well-organized progress. These collaborations have led our team members to be more enthusiastic in working on our Auviola project. Our last event was amazing! Thank you for guesting on ours and see you at the medal ceremony!
  figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/collaboration-2.png" style="max-width:75%; width:75%")
      figcaption.figure-caption The documentation of UGM Synbio Online Festival – Mini Talkshow: Meet the iGEM Teams
  h4.display-4.text-primary
    | Codeathon by Manchester 2021 iGEM Team
  p On September 11#[sup th], we were glad to participate in the “Codeathon” held by the Manchester 2021 iGEM team. At this event, we spent some of our quality time working on Wiki pages for 24 hours. Although we had to deal with 7 hours’ time difference, we were happy to also meet other participating teams from IISER Thiruvananthapuram, Warwick, Friendzymes, and Eindhoven in its every 3 hours check-ins.
  p This event also pushed ourselves in preparing our Wiki pages. Although the Wiki freeze due date was still 1 month, we should start preparing early as we would never know what may happen in the future. Through some check-ins, we also got new insights that come from other awesome iGEM teams to create better Wiki pages. It was such a fun and inspiring event!
  figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/collaboration-3.jpg" style="max-width:65%; width:65%")
      figcaption.figure-caption The documentation of Codeathon by Manchester 2021 iGEM team (taken from @igem_manchester2021 instagram account)
  h4.display-4.text-primary
    | Postcard - iGEM Düsseldorf
  p The iGEM Düsseldorf team contacted us and offered the opportunity to participate in their postcard challenge. Their idea is that each participating team will design a postcard that mentions the team’s project and a short text about them. The designed postcards of the teams that participated in the collaboration were sent to the iGEM Team Düsseldorf, then they mixed them up and sent a package back to all participants. We did not want to miss out on this opportunity to send our best designed postcards and eagerly wait for postcards from all over the world. Below you can see our postcard design and the postcards we received from the other teams.
  figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/collaboration-4.jpg" style="max-width:75%; width:75%")
  figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/collaboration-5.jpg" style="max-width:70%; width:70%")

