---
layout: layouts/default.njk
title: Education & Communication
heroImage: /assets/img/hero-communication.jpg
dataSidebar: [
    {"href" : "#synbio-highschool", "name" : "SynBio introduction for high school student"},
    {
        "href" : "#synbiofest",
        "name" : "UGM SynBio Online Festival 2021",
        "subnav" : [
            {"href" : "#intro-synbio", "name" : "Introducing to Synthetic Biology and Getting Closer to iGEM Webinar"},
            {"href" : "#hands-on", "name" : "Discussion, Brainstorming, and Hands-on of <i>in silico</i> Plasmid Design"}
        ]
    }
]
---

section#synbio-highschool
  h4.display-4.text-primary
    | SynBio introduction for high school student
  p On Thursday of March 12#[sup th], 2020 we held an Introducing Synthetic Biology Seminar for high school students in our province. In organizing the event, we collaborated with the provincial government's education department, which has a program in high school students' preparation for the national student research competition. Our main goal in organizing this event was to introduce synthetic biology and iGEM competition to high school students, especially for those who like to be involved in research activities. We hope they will be interested in exploring the field of synthetic biology in the future!
  p We were glad to see the great enthusiasm from all the participants. They asked a lot of questions and were excited to have discussions with us. To make the session more fun, we put a mini-game activity in the middle of the event. We also gave out merchandise for free and gave special prizes to the best participants at the end of the event. 
  p We were lucky to be able to hold this event right before the global pandemic. Not long after that, all of our iGEM related activities stopped due to the lockdown. After a long discussion with our Principal Investigator then we decided to postpone participating in iGEM 2020 and planning to register for the competition next year. It was a tough decision, but we finally managed to register for iGEM in 2021.
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/communication-synbio-highschool-1.jpg" style="max-width:40%; width:100%;")
    img.figure-img.img-fluid.rounded(src="/assets/img/communication-synbio-highschool-2.jpg" style="max-width:40%; width:100%;")
    figcaption.figure-caption The documentation of SynBio Introduction for high school students
section#synbiofest
  h4.display-4.text-primary
    | UGM SynBio Online Festival 2021
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/communication-synbiofest-1.jpg" style="max-width:80%; width:100%;")
  p On August 27#[sup th] and 28#[sup th], we held an online event entitled UGM Synbio Online Festival 2021. Our main goals in organizing this event were to introduce synthetic biology and iGEM competition as well as promote our Auviola project to Indonesian students. This event was also attended by other iGEM teams from Universitas Indonesia, Universitas Brawijaya, Moscow city, and Korea_HS in order to provide various perspectives as well as create a comprehensive collaboration.
  p
    | Being held for two days, the UGM Synbio Online Festival consisted of three sessions; i.e., (1) #[b Webinar], (2) #[b Discussion, Brainstorming, and Hands-on of in silico Plasmid Design], (3) #[b Mini Talkshow: Meet the iGEM Teams], which the 1#[sup st] session was held on the first day and the others were on the second day. The webinar section was attended by Raden Afif Pranaya Jati, M.Sc. and Roudlotul Jannah, M.Sc. that provide interesting insights about synthetic biology and iGEM competition. In the second section, we were conducting a short course to introduce plasmid design using the Benchling platform. The last section was a talk session with the other iGEM teams which is further mentioned on the
    |
    a(href="/Collaborations") Collaborations
    |
    | page.
  p
    | Visit our
    |
    a(href="/Education") Education and Public Engagement
    |
    | page for more information on how far this event gathers synthetic biology enthusiasts!
  #intro-synbio
    h5.display-5.text-primary
      | Introducing to Synthetic Biology and Getting Closer to iGEM Webinar
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/communication-intro-synbio-1.jpg" style="max-width:80%; width:100%;")
    p In our university, it is quite rare to find student activities that are related to exploring the field of synthetic biology. In fact, iGEM UGM 2021 is the first team that joins iGEM from our university and one of a few teams in the country. To introduce synthetic biology knowledge, we conducted a webinar on the 1#[sup st] session of UGM synbio Online Festival about Introducing to Synthetic Biology and iGEM competition. Our speakers were #[b Raden Afif Pranaya, M.Sc] (Molecular Biology and Biotechnology University of Groningen) and #[b Roudlotul Jannah] (iGEM Ambassador Asia). Both of them are great and inspiring speakers!
    p
      | In this section, we also put an ice breaker activity in the middle of the event. We provided mini games via Kahoot, and it turned out the majority of the participants were enjoying it! Kindly check our
      |
      a(href="/Education") Education and Public Engagement
      |
      | page for more information on our participants’ satisfaction in this section!
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/communication-intro-synbio-2.jpg" style="max-width:80%; width:100%;")
      figcaption.figure-caption The documentation of UGM Synbio Online Festival – Webinar
  #hands-on
    h5.display-5.text-primary
      | Discussion, Brainstorming, and Hands-on of #[i in silico] Plasmid Design
    p Not only introductions, but we also conducted hands-on sessions on the 2nd session of UGM synbio Online Festival. This short course was designed to guide a student with no knowledge of genetic engineering to a place where they could begin designing their own parts and performing in silico experiments, especially for plasmid design. To get 2-way communication and make the discussion more interesting, we divided participants into 5 different rooms. In each group, there was a mentor from IGEM UGM teams who guided and explained in a simple way about the in silico plasmid design. To make a fun and enjoyable session, we also put a minigames activity in the middle of the event. Participants were very active and enthusiastic, it was such a fun and great session!
    p
      | Visit our Education and Public Engagement
      |
      a(href="/Education") Education and Public Engagement
      |
      | page for more information on how the participants’ interest in this section!
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/communication-hands-on-1.jpg" style="max-width:80%; width:100%;")
      figcaption.figure-caption Our mentor in Discussion, Brainstorming, and Hands-on session