---
layout: layouts/default.njk
title: Contribution
heroImage: /assets/img/hero-contribution.jpg
dataSidebar: [
    {"href" : "#escher", "name" : "Escher Model and Map for C. violaceum Metabolic Pathway"},
    {"href" : "#experimental", "name" : "Experimental Data"}
]
---

<div class="col-12 col-lg-9">
    <section id="escher">
        <h4 class="display-4 text-primary mb-4">
            Escher Model and Map for C. violaceum Metabolic Pathway
        </h4>
        <p>
            We provided a model and map for the main metabolic pathway engineering of C. violaceum bacterium. Moreover, we also provided another one related to cyanide metabolic pathway. This model can be referred to by other iGEM teams in the future for conducting their project related to C. violaceum metabolic pathway.
        </p>
    </section>
    <section id="experimental">
        <h4 class="display-4 text-primary mb-4">
            Experimental Data
        </h4>
        <p>
            We added experimental data of BBa_K1602055 that demonstrates a comparison of the part's efficacy in three different chassis; i.e., DH5-α and BL21(DE3)-strains of E. coli and ATCC 12472-strain of C. violaceum.
        </p>
    </section>
</div>