---
layout: layouts/default.njk
title: Contribution
heroImage: /assets/img/hero-contribution.jpg
dataSidebar: [
    {"href" : "#experimental", "name" : "Experimental Data"}
]
---

//- section#escher
//-   h4.display-4.text-primary
//-     | Escher Model and Map for C. violaceum Metabolic Pathway
//-   p
//-     | We provided a model and map for the main metabolic pathway engineering of C. violaceum bacterium. Moreover, we also provided another one related to cyanide metabolic pathway. This model can be referred to by other iGEM teams in the future for conducting their project related to C. violaceum metabolic pathway.
section#experimental
  h4.display-4.text-primary
    | Experimental Data
  p
    | We added experimental data of BBa_K1602055 that demonstrates a comparison of the part's efficacy in three different chassis; i.e., \(DH5\alpha\) and \(BL21(DE3)\)-strains of #[i E. coli] and \(ATCC 12472\)-strain of #[i C. violaceum].
  p 
    | Kindly visit our
    |
    a(href="/Results") Results
    |  page for the details!
