---
layout: layouts/default.njk
title: Description
heroImage: /assets/img/hero-description.jpg
dataSidebar: [
  {"href" : "#abstract", "name" : "Abstract"},
  {"href" : "#background", "name" : "Background"},
  {"href" : "#approach", "name" : "Approach"},
  {"href" : "#idea", "name" : "How did this idea come to us?"},
  {"href" : "#covid", "name" : "How did COVID-19 pandemic impact our project?"},
  {"href" : "#references", "name" : "References"}
]
dataReferences: [
    {
      "reference" : "Kementerian Lingkungan Hidup dan Kehutanan, 2020, <i>Teknologi Pengolahan Emas pada Pertambangan Emas Skala Kecil di Indonesia</i>, GOLD-ISMIA, Jakarta.",
      "online" : "false"
    },
    {
      "reference" : "PlanetGOLD, 2021, ASGM 101: A Primer on Mercury Use in Artisanal and Small-Scale Gold Mining",
      "online" : "true",
      "link" : "https://www.planetgold.org/asgm-101",
      "accessed" : "September 25th, 2021 13:35 WIT"
    },
    {
      "reference" : "PlanetGOLD, 2021, Indonesia: Phasing out mercury, protecting livelihoods",
      "online" : "true",
      "link" : "https://www.planetgold.org/indonesia",
      "accessed" : "September 25th, 2021 13:37 WIT"
    },
    {
      "reference" : "Suhadi, Sueb, Muliya, B.K., Ashoffi, A.M., 2021, Pollution of mercury and cyanide soils and plants in surrounding in the Artisanal and Small-Scale Gold Mining (ASGM) at Sekotong District, West Lombok, West Nusa Tenggara, <i>Biological Environment and Pollution</i>, vol 1, no 1, pp 30-37.",
      "online" : "false"
    },
    {
      "reference" : "WHO, 2016, <i>Artisanal and small-scale gold mining and health</i>, WHO, Geneva.",
      "online" : "false"
    },
    {
      "reference" : "Ojeda, M.W., Perino, E., Ruiz, M.C., 2009, Gold extraction by chlorination using a pyrometallurgical process, Minerals Engineering, vol 22, pp 409-411.",
      "online" : "false"
    },
    {
      "reference" : "Batista, J.H. & da Silva Neto, J.F., 2017, Chromobacterium violaceum Pathogenicity: Updates and Insights from Genome Sequencing of Novel Chromobacterium Species, <i>Frontiers in Microbiology</i>, vol 8, pp 1-7.",
      "online" : "false"
    },
    {
      "reference" : "Kumar, M.R., 2012, Chromobacterium violaceum: A rare bacterium isolated from a wound over the scalp, <i>International Journal of Applied Basic Medical Research</i>, vol 2, no 1, pp. 70-72.",
      "online" : "false"
    },
    {
      "reference" : "Liu, R., Li, J., Ge, Z., 2016, Review on <i>chromobacterium violaceum</i> for gold bioleaching from e-waste, <i>Procedia Environmental Sciences</i>, vol 31, pp. 947-953",
      "online" : "false"
    },
    {
      "reference" : "Goldhub, 2021, <i>Gold mine production</i>",
      "online" : "true",
      "link" : "https://www.gold.org/goldhub/data/historical-mine-production",
      "accessed" : "July 10th, 2021 19:42 WIT"
    },
    {
      "reference" : "Kementerian Lingkungan Hidup dan Kehutanan, 2020, ​<i>Pertambangan emas skala kecil (PESK): Tantangan dalam akses pembiayaan</i>",
      "online" : "true",
      "link" : "http://sib3pop.menlhk.go.id/index.php/articles/view?slug=pertambangan-emas-skala-kecil-pesk-tantangan-dalam-akses-pembiayaan",
      "accessed" : "August 7th, 2021 22:34 WIT"
    },
    {
      "reference" : "Satuan Tugas Penanganan COVID-19, 2021, <i>Peta Sebaran</i>",
      "online" : "true",
      "link" : "https://covid19.go.id/peta-sebaran",
      "accessed" : "October 17th, 2021 19:32 WIT"
    }
]

---

section#abstract
  h4.display-4.text-primary
    | Abstract
  p
    | The creation of a sustainable non-mercury gold processing technology has become a considerable challenge. An efficient gold extraction process with less complicated wastewater treatment to minimize the production cost is the ultimate objective of our Auviola project. Bioleaching based on the cyanide-producing bacterium will be engineered, improving the gold extraction and subsequently degrading the off-process cyanide. The Auviola project utilized an engineered
    |
    i Chromobacterium violaceum
    | .   To optimize and design the system, kinetic and genomic scale models were demonstrated in both the extraction process and the cyanide degradation afterward. The bioreactor was also designed as the pilot scale for implementing the engineered gold bioleaching process. In the future, this project has the potential to be implemented as a sustainable low-cost gold bioleaching system for the artisanal and small-scale gold miners to bring achievable and beneficial impacts. Moreover, we also contribute to educating the students for understanding and implementing synthetic biology.
figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/description-0.png" alt='description-0')
    figcaption.figure-caption
section#background
  h4.display-4.text-primary
    | Background
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/description-figure-1.png" alt='Massive kills of fish caused by cyanide')
    figcaption.figure-caption
      b Figure 1.
      |  Massive kills of fish caused by cyanide (source: 
      a(href='https://youtu.be/wlYgYsbJhps&t=405s' target='_blank') youtu.be/wlYgYsbJhps&amp;t=405s
      | ).
  p
    | Gold is one of the noble metals which becomes a major economic driver for many countries. Its production requires a gold extraction step to obtain the pure ones from its orebody, for instance a leaching process that aims to separate the gold from other traces. Cyanide is one of these leaching agents that is widely used owing to the effective gold separation.
    a(href='#reference-1')
      sup 1
    |
    | However, cyanide waste can result in various harms in our environments, such as the decline of water quality and subsequently cause massive kills of aquatic organisms. Moreover, it also may threaten our health once it exposes our communities.
  p
    | Up to 20% of the world’s gold comes from
    |
    b Artisanal and small-scale gold mining (ASGM)
    | , which is a gold mining community conducted by individuals or small enterprises with limited capital investment and production.
    a(href='#reference-2')
      sup 2
    |
    | ASGM becomes a big concern especially in Indonesia as it supports 1 million people’s livelihoods.
    a(href='#reference-3')
      sup 3
    |
    | Along with its high effectiveness, cyanide is widely utilized by ASGM as a leaching agent in the hydrometallurgical process.
    a(href='#reference-1')
      sup 1
  p
    | However, a study showed that the soil and plants nearby the ASGM has cyanide concentration higher than World and Health Organization (WHO) standard, indicating either the presence of #[b cyanide leakage] or #[b improper waste] treatment within the practices.
    a(href='#reference-4')
      sup 4
    |
    | In addition, a demand of 90 days-treatment of cyanide waste may increase the risk of leakage occurrence.
    a(href='#reference-1')
      sup 1
    |
    | Moreover, the limited performance of resources involved in ASGM perplexes people to achieve a proper cyanide waste treatment.
    a(href='#reference-5')
      sup 5
  p
    | Other alternatives that may be utilized by ASGM communities; i.e. pyrometallurgy and biohydrometallurgy. #[b Pyrometallurgy] as an alternative gold extraction method is unsuitable for ASGM as it needs #[b huge energy sources] for the 600&deg;C-heating process.
    a(href='#reference-6')
      sup 6
    |
    | Therefore, another approach for gold extraction is needed to achieve a proper implementation among ASGM.
  p
    | On the other hand, a #[b biohydrometallurgy] that involves organism in the gold extraction process becomes a promising alternative as it provides faster waste treatment due to the enzymatic process, resulting in a reduced risk of cyanide leakage. In addition, a bacterium #[b #[i Chromobacterium violaceum]] has been found to produce cyanide as well as degrade it, therefore may be developed into biohydrometallurgy to a simpler and more applicable leaching process as well as prevent improper waste treatment.
    a(href='#reference-7')
      sup 7
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/description-figure-2.jpg" style="max-width:70%; width:70%;" alt='Characteristics of Chromobacterium violaceum')
    figcaption.figure-caption
      b Figure 2.
      |
      | Characteristics of #[i Chromobacterium violaceum].
      a(href='#reference-7')
        sup 7
      sup ,
      a(href='#reference-8')
        sup 8
      sup ,
      a(href='#reference-9')
        sup 9
section#approach
  h4.display-4.text-primary
    | Approach
  p
    | With the concepts of synthetic biology, we are developing #[b Auviola]–an engineered #[i C. violaceum] with an on-off system for cyanide regulation in the gold bioleaching process. Compared to the wild-type, the new #[i C. violaceum] is engineered to have more cyanide-regulating genes, resulting in a better gold dissolution and cyanide waste treatment. This engineered bacterium is designed to function in a bioreactor to create the bioleaching system on an industrial scale. Along with this genetic engineering, we hope that this project may help many ASGM communities to create the best yield of gold.
  blockquote.fs-4.my-5.mx-auto.text-center
    | &ldquo;This #[b Auviola] project engineers #[i C. violaceum] to have more cyanide-regulating genes, resulting in a better gold dissolution and cyanide waste treatment&rdquo;
section#idea
  h4.display-4.text-primary
    | How did this idea come to us?
  p
    | Indonesia is one of the biggest gold producing countries with more than one hundred tons production in 2020.
    a(href='#reference-10')
      sup 10
    |
    | Moreover, there are plenty of ASGM practices directly organized by more than 300,000 inhabitants in Indonesia to give additional incomes.
    a(href='#reference-11')
      sup 11
  p
    | The use of gold is not limited to jewelry as it also possesses a lot of financial, electrical, and medicinal purposes. Despite this digital era, gold is still persistent to be used as an investment. Gold is also widely used as a memory chip and conductor for electronics. As for now, gold is broadly developed as diagnostic tools, photothermal therapy agents, drug carriers, and other medicinal uses. Therefore, the development for an environmentally friendly bioleaching model may aid to the improvement of those gold utilizations.
  p
    | According to plenty of gold producers, this Auviola project has the potential to be developed as a better system of bioleaching process, especially in the ASGM practices. Coming with the merits of gold, we wish that we may create a big impact in reducing cyanide leakage and improving proper cyanide waste treatment through utilizing Auviola within the communities.
section#covid
  h4.display-4.text-primary
    | How did COVID-19 pandemic impact our project?
  p
    | COVID-19 pandemic has ruined all sectors of the world since the beginning of 2020. In Indonesia, the pandemic started from March 2020 and reached its peak in January 2021. The new cases started to cool down subsequently so we were confident in conducting our Auviola project. However, we unfortunately had to fight against the second wave that started from June 2021. This wave was even worse than the first one as the new daily cases reached over 56,000.
    a(href='#reference-12')
      sup 12
    |
    | This detrimental condition had led to several policies such as #[b limits on public gatherings] and #[b travel restrictions].
  ol.styled
    li
      h5 Impact on lab works
      p
        | Our laboratory also closed the gate to prevent COVID-19 transmission among lab members. Under that circumstance, we were already able to start our lab work by early August. Moreover, the new policies for the second wave delayed preparation for our lab equipment so that it was already available in the mid of August. As a result, we had to hold up our proposed timeline and omit some of our lab work.
      p
        | Nevertheless, we already planned to fulfill our limited data by carrying out kinetic and genomic scale modelling for our engineered #[i C. violaceum]. Therefore, we were able to perform expected results of our engineering project which has potential to be developed further.
    li
      h5 Impact on human practices
      p
        | The new restriction policy also impeded our human practice activities. Before the second wave occurred, we planned to observe gold mining activities among ASGM directly, but it was not performed well owing to the limits on public gatherings. In addition, this situation also ruined our proposed education program and restricted our communication with communities.
      p
        | Coming with those problems, we replaced our proposed activities by organizing virtual meetings so that we would still be able to collect sufficient information although this might bring a different excitement among us. In addition, we performed some assumptions based on literature study for fulfilling limited data as an approach to achieve an expected result and conclusion.
    li
      h5 Impact on general team works
      p
        | This pandemic also limited our financial resources as various companies have replaced their financial allocation for COVID-19 treatment. In addition, this condition forced us to perform remote working as we don’t live in the same region. These issues have become our challenge to seek various funding opportunities and maintain communication among us to keep our progress.
