---
layout: layouts/default.njk
title: Design
heroImage: /assets/img/hero-design.jpg
dataSidebar: [
    {"href" : "#overview", "name" : "Overview of <i>Chromobacterium violaceum</i>"},
    {"href" : "#auviola", "name" : "Auviola: The Engineered <i>Chromobacterium violaceum</i>"},
    {"href" : "#utilization", "name" : "The Practical Utilization of The Auviola System"},
    {"href" : "#demonstration", "name" : "Demonstration of Auviola System"},
    {"href" : "#references", "name" : "References"}
]
---

<div class="col-12 col-lg-9">
    <section id="overview">
        <h4 class="display-4 text-primary mb-4">
            Overview of <i>Chromobacterium violaceum</i>
        </h4>
        <p>
            <i>Chromobacterium violaceum</i> is a bacterium able to regulate cyanide according to the presence of cyanide-producing and degrading enzymes in the wild-type ones. These enzymes are encoded by some genes, such as hcnABC for cyanide production and rhodanese for cyanide degradation.<sup>1,2</sup>
        </p>
        <p>
            The hcnABC is an operon that consists of a cluster of three genes; i.e., hcnA, hcnB, and hcnC. This operon encodes HCN synthase that facilitates the conversion of an amino acid glycine into cyanide.<sup>3</sup> This enzyme belongs to the oxidoreductase class as it oxidizes the amine (CH-NH2) functional group into imine (C=NH) and consecutively cleaves the molecule into HCN and carbon dioxide (CO2) (Figure 1).<sup>4</sup>
        </p>
        <figure class="my-2 text-center">
            <img src="{{ '/assets/img/design-figure-1.jpg' | url }}" class="figure-img img-fluid rounded" alt="HCN synthesis pathway (Blumer & Haas, 2000)">
            <figcaption class="figure-caption"><b>Figure 1.</b> HCN synthesis pathway (Blumer & Haas, 2000).</figcaption>
        </figure>
        <p>
            Rhodanese is one of the cyanide degrading enzymes found in <i>C. violaceum</i>. This enzyme is also known as sulfurtransferase, as it catalyzes sulfur transfer from thiosulfate to cyanide and leads to the formation of the less toxic thiocyanate (Figure 2).<sup>5,6</sup> Compared to the other enzymes, the regulation of rhodanese expression is not affected by the presence of glycine and methionine, so that seems to be easily controlled.<sup>7</sup>
        </p>
        <figure class="my-2 text-center">
            <img src="{{ '/assets/img/design-figure-2.jpg' | url }}" class="figure-img img-fluid rounded" alt="Cyanide degradation pathway (Machingura et al., 2016)">
            <figcaption class="figure-caption"><b>Figure 2.</b> Cyanide degradation pathway (Machingura et al., 2016).</figcaption>
        </figure>
    </section>
    <section id="auviola">
        <h4 class="display-4 text-primary mb-4">
            Auviola: The Engineered <i>Chromobacterium violaceum</i>
        </h4>
        <p>
            With the concepts of synthetic biology, we developed an engineered <i>C. violaceum</i> to create an on-off system for cyanide regulation in the gold bioleaching process. Compared to the wild-type, the new <i>C. violaceum</i> was engineered to have more cyanide-regulating genes, resulting in a better gold dissolution and cyanide waste treatment.
        </p>
        <figure class="my-2 text-center">
            <img src="{{ '/assets/img/design-figure-3.jpg' | url }}" class="figure-img img-fluid rounded" alt="The circuitry design of cyanide-regulating on-off system">
            <figcaption class="figure-caption"><b>Figure 3.</b> The circuitry design of cyanide-regulating on-off system.</figcaption>
        </figure>
        <p>
            Our Auviola on-off system involved a regulator gene of araC since it exists on the plasmid. This regulator works dependably to arabinose level which acts as both an activator in the presence of arabinose and a repressor in the absence of arabinose.<sup>8</sup> An inducible promoter of PBAD was utilized for the on-off mechanism regulated by the araC.<sup>9</sup>
        </p>
        <p>
            Our circuitry design consisted of three expression systems explained below (Figure 3):
        </p>
        <ol>
            <li>
            <h5>Cyanide-producing system</h5>
            The HCN synthase enzymes were expressed by this system in the presence of arabinose.
            </li>
            <li>
            <h5>Cyanide-degrading system</h5>
            This rhodanese expression system involved not only araC regulator and PBAD promoter but also tetR regulator and PTET inducible promoter. These genes are presented in the wild-type of <i>C. violaceum</i> that acts as a repressor and normally play a role in tetracycline resistance.<sup>10,11</sup> The system was designed so that araC regulates the tetR expression as well as tetR regulates rhodanese expression. In the presence of arabinose, the TetR proteins are expressed and subsequently repress the production of rhodanese, and vice versa.
            </li>
            <li>
            <h5>L-arabinose isomerase (L-AI) expression system</h5>
            The L-AI is an enzyme that catalyzes the conversion of L-arabinose into L-ribulose.<sup>12</sup> This system was utilized for our on-off system since <i>C. violaceum</i> is not able to ferment arabinose. Through utilizing a constitutive weak promoter, the L-AIs were slowly expressed to convert arabinose into the inactive form and subsequently control the on-off system.
            </li>
        </ol>
    </section>
    <section id="utilization">
        <h4 class="display-4 text-primary mb-4">
            The Practical Utilization of The Auviola System
        </h4>
        <p>
            The use of our Auviola system was conducted in a closed compartment and depended on the level of arabinose. The gold bioleaching process was conducted by adding the arabinose as the HCN synthases are expressed while the rhodanese enzymes are not. After the L-AI converted the arabinose in a considerable amount, the system continued to degrade the cyanide as the rhodanese enzymes started being produced while the HCN synthases were stopped (Figure 4).
        </p>
        <figure class="my-2 text-center">
            <img src="{{ '/assets/img/design-figure-4.jpg' | url }}" class="figure-img img-fluid rounded" alt="The on-off mechanism (a) in the presence of arabinose (b) after L-AI converts the arabinose into its inactive form">
            <figcaption class="figure-caption"><b>Figure 4.</b> The on-off mechanism (a) in the presence of arabinose (b) after L-AI converts the arabinose into its inactive form.</figcaption>
        </figure>
    </section>
    <section id="demonstration">
        <h4 class="display-4 text-primary mb-4">
            Demonstration of Auviola System
        </h4>
        <p>
            The demonstration was conducted by analytical procedure to determine the cyanide concentration in several defined points. This procedure gave results that cyanide presents in a high concentration after adding the arabinose that represents the gold bioleaching process. Afterward, the cyanide concentration started to decrease as the L-AIs were slowly produced to convert the arabinose and subsequently the rhodanese enzymes were expressed to degrade the cyanide. 
        </p>
        <p>
            In addition, fluorimetry was also conducted to demonstrate the Auviola system. Firstly, the genes of interest were replaced by some fluorescent protein-encoded. After that, some samples were taken in several defined points then the intensities were read by the spectrofluorometer. The results showed that the protein presents in a high concentration at the point that represents the gold bioleaching process. Afterward, the protein level started to decrease as long as the rhodanese enzymes were expressed to degrade the cyanide.
        </p>
    </section>
    <section id="references" class="content-references">
        <h4 class="display-4 text-primary mb-4">
            References
        </h4>
        <ol>
            <li>McGivney, E., Gao, X., Liu, Y., Lowry, G.V., Casman, E., et al., 2019, Biogenic Cyanide Production Promotes Dissolution of Gold Nanoparticles in Soil, Environmental Science & Technology, vol. 53, pp. 1287-1295.</li>
            <li>Rodgers, P.B., Knowles, C.J., 1978, Cyanide Production and Degradation During Growth of <i>Chromobacterium violaceum</i>, Journal of General Microbiology, vol. 108, pp. 261-267.</li>
            <li>KEGG, ENZYME: 1.4.99.5 [Online] https://www.genome.jp/dbget-bin/www_bget?ec:1.4.99.5 [accessed on July 28, 2021 at 09:06 WIT].</li>
            <li>Blumer, C, Haas, D., 2000, Mechanism, regulation, and ecological role of bacterial cyanide biosynthesis, Archives of Microbiology, vol. 173, pp. 170-177.</li>
            <li>Machingura, M., Salomon, E., Jez, J.M., Ebbs, S.D., 2016, The β-cyanoalanine synthase pathway: beyond cyanide detoxification, Plant, Cell and Environment, vol. 39, no. 10, pp. 2329-41.</li>
            <li>Cipollone, R., Ascenzi, P., Tomao, P., Imperi, F., Visca, P., 2008, Enzymatic Detoxification of Cyanide: Clues from Pseudomonas aeruginosa Rhodanese, Journal of Molecular Microbiology and Biotechnology, vol 15, pp. 199-211.</li>
            <li>Rodgers, P.B., Knowles, C.J., 1978, Cyanide Production and Degradation During Growth of <i>Chromobacterium violaceum</i>, Journal of General Microbiology, vol. 108, pp. 261-267.</li>
            <li>Lobell, R.B., Schleif, R.F., 1990, DNA looping and unlooping by AraC protein, Science, vol. 250, no. 4980, pp. 528-532.</li>
            <li>Schleif, R., 2003, AraC protein: a love-hate relationship, Bioessays, vol. 25, pp. 274-282.</li>
            <li>Brazilian National Genome Project Consortium, 2003, The complete genome sequence of <i>Chromobacterium violaceum</i> reveals remarkable and exploitable bacterial adaptability, Proceedings of the National Academy of Sciences of the United States of America, vol. 100, no. 20, pp. 11660–11665. https://doi.org/10.1073/pnas.1832124100</li>
            <li>Cuthbertson, L., Nodwell, J.R., 2013, The TetR family of regulators, Microbiology and molecular biology reviews: MMBR, vol. 77, no. 3, pp. 440–475. https://doi.org/10.1128/MMBR.00018-13</li>
            <li>Uniprot, 2021, UniProtKB - P08202 (ARAA_ECOLI) [Online] https://www.uniprot.org/uniprot/P08202 [accessed on August 17, 2021 at 12:25 WIT].</li>
            </li>
        <ol>
    </section>
</div>