---
layout: layouts/default.njk
title: Education
heroImage: /assets/img/hero-education.jpg
dataSidebar: [
    {
        "href" : "#synbiofest", 
        "name" : "UGM Synbio Online Festival 2021",
        "subnav" : [
            {"href" : "#intro-synbio", "name" : "Introducing to Synthetic Biology and Getting Closer to iGEM Webinar"},
            {"href" : "#hands-on", "name" : "Discussion, Brainstorming, and Hands-on of <i>in silico</i> Plasmid Design"},
            {"href" : "#test", "name" : "Pre- and Post-test"}
        ]
    }
]
---

section#synbiofest
  h4.display-4.text-primary
    | UGM Synbio Online Festival 2021
  p The UGM Synbio Online Festival 2021 was attended by various types of participants from all over our country. To find out the distribution, we arranged and displayed them in several charts. We discovered that university students are the majority of participants, there are 40.3% from Gadjah Mada University, and 53.4% are from other universities. Not only college students, but there were also 3.6% of participants from high schools and 2.1% from companies. We also discovered that participants from Gadjah Mada University come from various faculty/departments, but each of them was still less in number compared to the participants from the Faculty of Biology.
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/education-synbiofest-figure-1.png" style="max-width:50%; width:100%;")
    figcaption.figure-caption #[b Figure 1.] Participants’ Institution
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/education-synbiofest-figure-2.png" style="max-width:50%; width:100%;")
    figcaption.figure-caption #[b Figure 2.] Participants from Gadjah Mada University
  #intro-synbio
    h5.display-5.text-primary
      | Introducing to Synthetic Biology and Getting Closer to iGEM Webinar
    p The webinar was our first session of the UGM Synbio Online Festival to introduce synthetic biology and iGEM competition. To find out about the quality of this session, we asked the participant to fill a survey about satisfaction and other indicators related to the assessment. About 96.9% of the participants were satisfied with joining this session. To measure that, we asked them to fill the survey with four indicators that scored on a scale of 1 to 1/0. Afterward, we compiled their answer in the form of histograms (#[b Figure 4]).  For the session's content, the score is 8.76, meaning that we fulfilled the participants' expectations and managed to answer their curiosity comprehensively and meaningfully. The next indicator is the engagement of the speakers to the audience with an 8.65 score. Our speakers made the session interesting through their interactive interaction with the participants. Moreover, we got 8.6 in the way the moderators led the talk show. We believed an amazing moderator is a key to having an amazing session since the moderator leads our session. Last, we got 8.74 for the way the speakers answered the question. We received many questions related to the session due to the high interest of the participants. Thanks to our speakers that so professionally handled all of the questions.
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-intro-synbio-figure-3.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 3.] Percentage of satisfied participants
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-intro-synbio-figure-4.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 4.] Webinar satisfaction score
    p To make a fun and enjoyable session, we put an ice breaker activity in the middle of the event. We provided mini games via Kahoot, and it turned out the majority of the participants were enjoying it. On a scale of 1 to 10, we got a score about 8.4 for “how much fun the mini-game is”. For increasing the excitement of the participants to join the program, we got a score about 8.4. Last, we got 8.3 for helping participants understand more about the materials given. Nevertheless, there was still room for improvement for us, which is to provide the participants with more quiz questions and more gifts.
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-intro-synbio-minigames-a.png" style="max-width:50%; width:100%;")
      img.figure-img.img-fluid.rounded(src="/assets/img/education-intro-synbio-minigames-b.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption The documentation of UGM Synbio Online Festival – Minigames
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-intro-synbio-figure-5.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 5.] Mini-game satisfaction score
  #hands-on
    h5.display-5.text-primary
      | Discussion, Brainstorming, and Hands-on of #[i in silico] Plasmid Design
    p This was the second session of our UGM Synbio Online Festival 2021 in which we were conducting a short course to introduce plasmid design using the Benchling platform. To find out how far the participants understand this session, we asked the participant to fill a survey. We were very grateful as about 76.6% of the audience were able to follow all the hands-on procedures. After joining the session, 73.4% of the audience felt that they could do their own plasmid design or construction. We were also thankful that 93.8% of the audience said that they got inspired after the brainstorming session about project ideas or research related to synthetic biology. Some of the suggestions from participants say that the presenter's explanation was a little bit too fast. They also needed some manual procedures including recording of this session. Their suggestions belong to our reflection to create a better event in the near future. Similar to the previous session, we have four indicators to assess the satisfaction rate on a scale of 1 to 10. The indicators are the content of the session (8.94), the speakers’ engagement (8.82), the moderator (8.70%), and also the q&a session (8.81).
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-hands-on-figure-6.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 6.] Percentage of participants who able to follow all the hands-on procedures
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-hands-on-figure-7.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 7.] Percentage of participants who feel that they could do their own plasmid design after joining the session
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-hands-on-figure-8.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 8.] Percentage of participants who get inspired about project ideas related to synthetic biology joining the session
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-hands-on-figure-9.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 9.] Hands-on session satisfaction score
  #test
    h5.display-5.text-primary
      | Pre- and Post-test
    p In order to evaluate whether our events have increased the audience's knowledge of synthetic biology and iGEM competition, we conducted a pre and post-test as a way to analyze and measure. The results showed that there was an increasing number of audiences who have become more knowledgeable about synthetic biology (#[b Figure 10]). After participating in this event, the number of audiences who know that synthetic biology is different from genetic engineering was also increased (#[b Figure 11]). The results also showed that there was an increase in the number of terms that are known by the audience after participating in this event (#[b Figure 12]). Furthermore, there was an increase in the percentage of the audience who realized that iGEM was not only for science students and could better imagine what kind of project by the iGEM team (#[b Figure 13] and #[b Figure 14]).  Lastly, there was an increase in the percentage of the audience who wants to participate in the iGEM competition (#[b Figure  15]).
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-test-figure-10.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 10.] Percentage before and after attending the sessions about ever heard of synthetic biology
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-test-figure-11.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 11.] Percentage before and after attending the sessions about synthetic biology and genetic engineering
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-test-figure-12.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 12.] Percentage before and after attending the sessions about term that audience have heard in synthetic biology
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-test-figure-13.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 13.] Percentage before and after attending the sessions about iGEM competition only for science-background student
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-test-figure-14.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 14.] Percentage before and after attending the sessions about on audience imagine what kind of project the team that participated in the iGEM
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/education-test-figure-15.png" style="max-width:50%; width:100%;")
      figcaption.figure-caption #[b Figure 15.] Percentage before and after attending the sessions about audience interest in participating in the iGEM competition