---
layout: layouts/default.njk
title: Engineering
heroImage: /assets/img/hero-engineering.jpg
dataSidebar: [
    {"href" : "#hcn-production", "name" : "HCN-regulating System"},
    {"href" : "#genome-scale", "name" : "Gene knockout for enhancing cyanide production flux"},
    {"href" : "#pyrite", "name" : "Pyrite Dissolution Bioreactor"},
    {"href" : "#references", "name" : "References"}
]
dataReferences: [
    {
      "reference" : "KEGG, ENZYME: 1.4.99.5",
      "online" : "true",
      "link" : "https://www.genome.jp/dbget-bin/www_bget?ec:1.4.99.5",
      "accessed" : "July 28, 2021 at 09:06 WIT"
    },
    {
      "reference" : "Kianinia, Y., Khalesi, M.R., Abdollahy, M., Hefter, G., Senanayake, G., Hnedkovsky L., Darban, A.K., Shahbazi, M., 2018, Predicting Cyanide Consumption in Gold Leaching: A Kinetic and Thermodynamic Modeling Approach, Minerals, vol. 8, no. 3, pp. 110. doi:10.3390/min8030110",
      "online" : "false"
    },
    {
      "reference" : "Michaels, R. and Corpe, W.A., 1965, Cyanide Formation by Chromobacterium violaceum, Journal of Bacteriology, vol. 89, no. 1, pp. 106-112.",
      "online" : "false"
    },
    {
      "reference" : "Brazilian National Genome Project Consortium, 2003, The complete genome sequence of Chromobacterium violaceum reveals remarkable and exploitable bacterial adaptability, Proceedings of the National Academy of Sciences of the United States of America, vol. 100, no. 20, pp. 11660-11665.",
      "online" : "false"
    },
    {
      "reference" : "Lobell, R.B., Schleif, R.F., 1990, DNA looping and unlooping by AraC protein, Science, vol. 250, no. 4980, pp. 528-532.",
      "online" : "false"
    },
    {
      "reference" : "Schleif, R., 2003, AraC protein: a love-hate relationship, Bioessays, vol. 25, pp. 274-282.",
      "online" : "false"
    },
    {
      "reference" : "Brazilian National Genome Project Consortium, 2003, The complete genome sequence of Chromobacterium violaceum reveals remarkable and exploitable bacterial adaptability, Proceedings of the National Academy of Sciences of the United States of America, vol. 100, no. 20, pp. 11660–11665. doi:10.1073/pnas.1832124100",
      "online" : "false"
    },
    {
      "reference" : "Cuthbertson, L., Nodwell, J.R., 2013, The TetR family of regulators, Microbiology and molecular biology reviews: MMBR, vol. 77, no. 3, pp. 440–475. doi:10.1128/MMBR.00018-13",
      "online" : "false"
    },
    {
      "reference" : "Anonymous, 2011, Registry of Standard Biological Parts - pBAD Strong Characterization, Last Updated 22 Oct 2009)",
      "online" : "true",
      "link" : "http://partsregistry.org/Part:BBa_K206000:Characterization",
      "accessed" : "August 21, 2021 at 08:34 WIT"
    },
    {
      "reference" : "Schleif, R 1969, Induction of the L-arabinose operon, Journal of Molecular Biology, Vol 46, pp. 197-199. doi: 10.1016/0022-2836(69)90066-7",
      "online" : "false"
    },
    {
      "reference" : "Hendrickson, W.., Schleif, R., 1984, Regulation of the Escherichia coli L-Arabinose Operon Studied by Gel Electrophoresis DNA Binding Assay, Journal of Molecular Biology, Vol 174, no. 3,  pp. 611-628.",
      "online" : "false"
    },
    {
      "reference" : "Koostra, A.M.J., Mosier, N.S., Scott E.L., Beeftink, H.H., Sanders, J.P.M., 2009 , Differential effects of mineral and organic acids on the kinetics of arabinose degradation under lignocellulose pretreatment conditions, Biochemical Engineering Journal, Vol 43, pp. 92-97.",
      "online" : "false"
    },
    {
      "reference" : "Bionumbers Logo, Key Numbers for Cell Biologists",
      "online" : "true",
      "link" : "http://bionumbers.hms.harvard.edu/KeyNumbers.aspx",
      "accessed" : "October 22, 2021"
    },
    {
      "reference" : "Mintel, R. and Westley, J., 1966, The Rhodanese Reaction : Mechanism of Thiosulfate Binding, The Journal of Biological Chemistry, vol. 241, no. 14, pp. 3386 – 3389.",
      "online" : "false"
    },
    {
      "reference" : "Seo, J.M., 2013, Characterization of an L-Arabinose Isomerase from Bacillus Thermoglucosidasius for D-Tagatose Production, Bioscience, Biotechnology, and Biochemistry, vol. 77, no. 2, pp. 385-388.",
      "online" : "false"
    },
    {
      "reference" : "Megerle, J.A., Fritz, G., Gerland, U., Jung, K., Radler, J.O., 2008, Timing and Dynamics of Single Cell Gene Expression in the Arabinose Utilization System, Biophysics Journal, vol. 95, no. 4, pp. 2013-2115. doi: 10.1529/biophysj.107.127191",
      "online" : "false"
    },
    {
      "reference" : "King, Z.A., Lu, J.S., Dräger, A., Miller, P.C., Federowicz, S., Lerman, J.A., Ebrahim, A., Palsson, B.O., and Lewis, N.E., 2016, BiGG Models: A platform for integrating, standardizing, and sharing genome-scale models, Nucleic Acids Research, vol. 44, no. D1, pp. D515-D522. doi:10.1093/nar/gkv1049",
      "online" : "false"
    },
    {
      "reference" : "KEGG, Metabolic pathways - Reference pathway",
      "online" : "true",
      "link" : "https://www.genome.jp/kegg/pathway/",
      "accessed" : "October 22, 2021"
    },
    {
      "reference" : "The Regents of the University of California, 2019, ESCHER: Build, share, and embed visualizations of metabolic pathways",
      "online" : "true",
      "link" : "https://escher.github.io/#/",
      "accessed" : "October 22, 2021"
    },
    {
      "reference" : "Tay, S., Natarajan, G., Rahim, M., Tan, H., Chung, M., Ting, Y. et al., 2013, Enhancing gold recovery from electronic waste via lixiviant metabolic engineering in Chromobacterium violaceum, Scientific Reports, vol. 3, no. 1.",
      "online" : "false"
    },
    {
      "reference" : "Banerjee, D., Raghunathan, A., 2019, Constraints-based analysis identifies NAD+ recycling through metabolic reprogramming in antibiotic resistant Chromobacterium violaceum, PLOS ONE, vol. 14, no. 1, pp. e0210008.",
      "online" : "false"
    },
    {
      "reference" : "Patil, K. R., Rocha, I., Förster, J., Nielsen, J., 2005, Evolutionary programming as a platform for in silico metabolic engineering, BMC Bioinformatics, vol. 6, no. 308. doi:10.1186/1471-2105-6-308",
      "online" : "false"
    },
    {
      "reference" : "Burgard, A.P., Pharkya, P., Maranas, C.D., 2003, OptKnock: A Bilevel Programming Framework for Identifying Gene Knockout Strategies for Microbial Strain Optimization, Biotechnology and Bioengineering, vol. 84, no. 6, pp. 647-657.",
      "online" : "false"
    },
]
---

p.mt-4
  | Our main goal is to create a feasible on-off system of the cyanide production and degradation according to either the presence or absence of arabinose. This page displays three engineering cycles; i.e., cyanide production, cyanide degradation, and arabinose conversion. Afterwards, an engineering cycle about the Auviola on-off system is performed to associate the aforementioned three cycles. An engineering cycle about the bioreactor is also demonstrated as the implementation of our Auviola system.
section#hcn-production
  h4.display-4.text-primary
    | HCN-regulating System
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/engineering-hcn.png" style="max-width:80%; width:80%" alt='engineering-hcn')
  .accordion
    .accordion-item
      h5#hcn-production-reseach-imagine-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-reseach-imagine' aria-expanded='true' aria-controls='hcn-production-reseach-imagine')
          | Research &amp; Imagine
      #hcn-production-reseach-imagine.accordion-collapse.collapse(aria-labelledby='hcn-production-reseach-imagine-heading')
        .accordion-body
          div
            h6
              | What are the properties of HCN production in C. violaceum?
            p
              | The HCN synthase, or also known as glycine dehydrogenase, is an enzyme that facilitates the conversion of an amino acid glycine into cyanide.
              a(href='#reference-1')
              sup 1 
              | This enzyme is a heterotrimeric protein as encoded by a cluster of three genes called hcnABC operon. This enzyme belongs to the oxidoreductase class as it oxidizes the amine (CH-NH2) functional group into imine (C=NH) and consecutively cleaves the molecule into HCN and carbon dioxide (CO2).
              a(href='#reference-1')
              sup 2
          div
            h6
              | What are some concerns to be considered?
            p
              | The resulted cyanide species were designed to dissolve the gold into the soluble coordination compound of (NaAu(CN)#[sub 2]) through the reaction below:
            p.text-center
              | 4Au + 8NaCN + O2 + 2H2O  4(NaAu(CN)#[sub 2]) + 4NaOH
              a(href='#reference-1')
              sup 1
            p
              | According to previous study, the gold leaching process requires HCN compounds with concentration of 600 mg/L.
              a(href='#reference-2')
              sup 2 
              | On the other hand, a wild-type of C. violaceum was previously studied to produce 0.71 - 16 micromoles/mL which nearly equals to 19 - 432 of HCN in 8 hours.
              a(href='#reference-3')
              sup 3 
              | Therefore, an optimization of produced HCN concentration should be conducted to achieve an effective gold leaching process.
          div
            h6
              | What are the types of regulators tested in C. violaceum?
            p
              | Two of several regulator genes have tested in C. violaceum are araC and tetR.
              a(href='#reference-4')
              sup 4 
              | The araC works dependably to arabinose level which acts as both an activator in the presence of arabinose and a repressor in the absence of arabinose.
              a(href='#reference-5')
              sup 5 
              | A PBAD is one of the inducible promoters presented in C. violaceum and regulated by the araC.
              a(href='#reference-6')
              sup 6 
              | On the other hand, tetR acts as a repressor and normally play a role in tetracycline resistance with PTET promoter.
              a(href='#reference-7')
              sup 7
            sup ,
              a(href='#reference-8')
              sup 8
    .accordion-item
      h5#hcn-production-design-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-design' aria-expanded='true' aria-controls='hcn-production-design')
          | Design
      #hcn-production-design.accordion-collapse.collapse(aria-labelledby='hcn-production-design-heading')
        .accordion-body
          div
            h6
              | Wetlab work: HCN Production
            p
              | Our strategies for improving cyanide metabolism in the cells are to increase the accumulation of HCN, hydrolysis of HCN, and L-arabinose converter. In this study, the proposed design for increasing HCN production has been achieved. The principle behind this system is overexpression of hcnABC gene encoding cyanide synthase, an enzyme that is responsible for HCN synthesis, by addition of L-arabinose-induced pBAD-AraC regulon. The genetic circuit for this study is written in the 
              |
              a(href="/Design") Design
              |
              | page. At first, we were focusing on the first plasmid construction for the HCN production. To achieve this goal, several standard Biobrick parts as well as the hcnABC operon was required. Some standard parts that we use are listed below:
            ol
              li BBa_K808000 (AraC-pBAD)
              li BBa_B0015 (double terminator)
              li BBa_B0034m (strong RBS)
            p
              | The hcnABC operon as the main insert, were obtained through gene synthesis from Twist Bioscience. Subsequently, the plasmid map was created to determine the overall gene construction into the pSB1C3 vector. Benchling application system was used to design the circuit, particularly the HCN production plasmid (Kindly visit our 
              |
              a(href="/Results") Results
              |
              | page for our plasmid construct!).
            p
              | We used AraC-pBAD derived from BBa_K1602055 to regulate the hcnABC operon. We modified the hcnABC operon by adding RBS before each gene (hcnA, hcnB, hcnC) and also double terminator B0015. The hcnB and hcnC genes have a high percentage of GC content so we faced some problems to synthesize it. Thus, we altered the hcnB gene sequence to reduce the GC content and to remove some illegal sites. We also altered some bases in hcnC gene to remove the illegal site. For a detailed description of the construction, please visit our 
              |
              a(href="/Design") Design
              |
              | page. The recombinant plasmid transformed was verified through colony PCR and the inserted parts were confirmed by sequencing analysis.
            p 
              | A Kinetic modelling for demonstrating an overexpression of cyanide was performed in Tellurium. This modelling used several parameters obtained from literature. In addition, genome-scale modelling was performed to optimize the metabolic flux of #[i C. violaceum] to achieve optimal cyanide.
          div
            h6
              | Drylab work: Kinetic Modelling
            p 
              | Beside the wet lab, we also perform dry lab analysis to model the HCN production, HCN degradation, and L-Arabinose isomerase in engineered #[i C. violaceum]. We use kinetic modelling approach to perform this analysis.
            p 
              | Kinetic modelling of metabolic pathways is important for predicting the output of a metabolic process, and to understand what type of modification should be carried out if the output is not desirable. For our model, the complete equations are explained in the 
              |
              a(href="/Model") Model
              |
              | page. We collected most of our parameters from research papers and past iGEM team modelling.
    .accordion-item
      h5#hcn-production-build-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-build' aria-expanded='true' aria-controls='hcn-production-build')
          | Build
      #hcn-production-build.accordion-collapse.collapse(aria-labelledby='hcn-production-build-heading')
        .accordion-body
          div
            h6
              | Wetlab work: HCN Production
            p
              | After we went through the design phase, we started to conduct our project at the Biotechnology Laboratory of Inter-University Center in Universitas Gadjah Mada. We ordered hcnA, hcnB, and hcnC sequences from Twist Bioscience. The sequences were referred to the genome of #[i Chromobacterium violaceum] ATCC 12472 (NCBI: GenBank: AE016825.1).
            p
              | To meet the BioBrick standard, we altered some of the sequences i.e., hcnB and hcnC, to reduce the GC content and remove the illegal sites. However, Twist Bioscience reported a problem in synthesizing the hcnC gene, thus the hcnC synthesize failed. Thus, we isolated the hcnC gene using PCR from the genome of C. violaceum ATCC 12472 and removed an illegal site inside the sequence using overlap PCR (Phusion polymerase) (see 
              |
              a(href="/Results") Results
              |
              | page table 1, no. 7,8, and 9). The assembly of plasmid backbone (pSB1C3), AraC-pBAD (BBa_ K1602055), RBS (BBa_B0034m), hcnABC operon, and double terminator (BBa_B0015) were done using Gibson Assembly. The assembled constructs were then transformed into two strains of E. coli, BL21(DE3) and DH5α using standard heat shock protocol. The screening of transformats were selected on LB agar supplemented with Chloramphenicol for both strains. 
          div
            h6
              | Drylab work: Kinetic Modelling
            p
              | The equations needed for modelling gold cyanidation are explained in our 
              |
              a(href="/Model") Model
              |
              | page. We were utilizing python in Jupyter with the Tellurium package for most of our model, except for Au and CN interaction.
            figure
              figcaption
              table.table.table-bordered.table-hover.table-condensed
                thead
                  tr
                    th(title='Field #1') Parameter
                    th(title='Field #2') Description
                    th(title='Field #3') Value
                    th(title='Field #4') Units
                    th(title='Field #5') Source
                tbody
                  tr
                    td A0
                    td Product concentration (grams/liter)
                    td 1 x 10-5
                    td M
                    td
                      a(href='#reference-9') [9]
                  tr
                    td A1
                    td Substrate concentration (grams/liter)
                    td 1 x 10-5
                    td M
                    td 
                      a(href='#reference-10') [10]
                  tr
                    td kdiff
                    td Feed substrate concentration (grams/liter)
                    td 7 x 10-18
                    td Mole/cell/30 mins
                    td
                      a(href='#reference-10') [10]
                  tr
                    td k1
                    td Rate of cell or biomass growth (grams/liter/hr)
                    td 1.2 x 10-4
                    td s-1
                    td
                      a(href='#reference-11') [11]
                  tr
                    td k2
                    td Rate of product formation (grams/liter/hr)
                    td 1.2 x 10-4
                    td s-1
                    td
                      a(href='#reference-11') [11]
                  tr
                    td \gamma_1
                    td Product yield coefficient
                    td 1.49 x 10-3
                    td min-1
                    td
                      a(href='#reference-12') [12]
                  tr
                    td \gamma_m
                    td Rate of mRNA degradation (in general)
                    td 1.7 x 10-3
                    td s-1
                    td
                      a(href='#reference-13') [13]
                  tr
                    td \gamma_p , \gamma_E
                    td Rate of large organic molecule degradation (assumed to have the same value)
                    td 5.6 x 10-5
                    td s-1
                    td
                      a(href='#reference-13') [13]
                  tr
                    td , \gamma_A1
                    td  
                    td  
                    td  
                    td  
                  tr
                    td kA1
                    td
                      A1.AraC forward reaction rate
                    td 1.2 x 10-4
                    td s-1
                    td  
                  tr
                    td kA2
                    td
                      A1AraC reverse reaction rate
                    td 1.2 x 10-4
                    td s-1
                    td  
                  tr
                    td kcat1
                    td Rate of Rhodanese-S2O3 complex synthesis
                    td 48
                    td s-1
                    td
                      a(href='#reference-14') [14]
                  tr
                    td kcat2
                    td Rate of thiocyanate (SCN) biosynthesis
                    td 55&nbsp;
                    td s-1
                    td
                      a(href='#reference-14') [14]
                  tr
                    td kf1
                    td Rate of Li-A1 &ndash; Arabinose complex formation
                    td 1.2 x 10-4
                    td s-1
                    td
                      a(href='#reference-15') [15]
                  tr
                    td kr1
                    td Rate of Li-A1 &ndash; Arabinose complex degradation
                    td 1.2 x 10-4
                    td s-1
                    td
                      a(href='#reference-15') [15]
                  tr
                    td kcatR
                    td Rate of L-ribulose catalytic formation
                    td 8.167&nbsp;
                    td s-1
                    td
                      a(href='#reference-15') [15]
            p 
              | Some of the kinetic constant cannot be found on any research paper or open source database that is available on the internet. Thus, we used the value of similar parameter(s).
    .accordion-item
      h5#hcn-production-test-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-test' aria-expanded='true' aria-controls='hcn-production-test')
          | Test
      #hcn-production-test.accordion-collapse.collapse(aria-labelledby='hcn-production-test-heading')
        .accordion-body
          div
            h6
              | Wetlab work: HCN Production
            p
              | The resulting gene constructs were transformed into two chassisses and verified by colony PCR using VF2 VR primers. After the colony PCR and electrophoresis, the expected bands were incorrect in size and unobtainable. Our amplified insert using VF2 VR primers should be around 4600 bp, yet we merely obtain approximately 3000 bp band.  On the upper side of some bands, ColA. There were thin bands of which the sizes are over 3000 bp, which indicated that the desirable construct was inserted to the chassis. Therefore, we subcultured the ColA colony to LB broth media supplemented with Chloramphenicol overnight for plasmid isolation (check the 
              |
              a(href="/Results") Results
              |
              | page for plasmid isolation result). For further confirmation, we send our isolated plasmid for sequencing. Now we are still waiting for the result of sequencing and we will update and report the result by the time we receive it.
          div
            h6
              | Drylab work: Kinetic Modelling
            p
              | The graph below shows concentration (M) vs time (second).
            figure.text-center
              img.figure-img.img-fluid.rounded(src="/assets/img/engineering-hcn-regulating-1.jpg" style="max-width:80%; width:80%" alt='engineering-hcn-regulating-1')
    .accordion-item
      h5#hcn-production-learn-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-learn' aria-expanded='true' aria-controls='hcn-production-learn')
          | Learn
      #hcn-production-learn.accordion-collapse.collapse(aria-labelledby='hcn-production-learn-heading')
        .accordion-body
          div
            h6
              | Wetlab work: HCN Production
            p
              | It was such a challenge for us to construct the whole operon with the size over 4000 bp with high GC content. A more robust PCR method such as an adjustable KOD with high-fidelity PCR master mix kit is necessary to increase the PCR product and avoid point mutation that might happen in the amplified product.
          div 
            h6
              | Drylab work: Kinetic Modelling
            p 
              | We can learn that rhodanese was produced instantly, then the concentration of HCN decreased rapidly. The maximum speed of gold cyanidation only lasts briefly, less than 5 minutes.
              | Biohydrometallurgy method is favored in mineral processing field due to their ability to extract low-concentrated ore. With this kind of trend, it is almost impossible to gain a feasible gold extraction yield. In lab experiments, most bioleaching processes managed to attain large mineral yield in laboratory experiments. This modelling might be not reflecting the real conditions of the bioleaching process.
    
    .accordion-item
      h5#hcn-production-design-2-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-design-2' aria-expanded='true' aria-controls='hcn-production-design-2')
          | Design
      #hcn-production-design-2.accordion-collapse.collapse(aria-labelledby='hcn-production-design-2-heading')
        .accordion-body
          div
            h6
              | Drylab work: Kinetic Modelling
            p
              | We need to reconsider some of the parameters, especially those based on assumption. Rate of large organic molecule degradation is one of the main examples. There are 2 large organic molecules that are involved in this modelling, protein (enzyme) and monosaccharide. We need to separate the decay rate of protein and monosaccharide.
              | SCN formation constant also needs to be changed. Due to larger scale use and relatively dynamic environment, we assumed that the collision rate would be significantly slower. Therefore, the constant also becomes lower. 
              | Rhodanese activates almost simultaneously after HCN hits its highest concentration, hence we need to set a starting point to delay rhodanese synthesis. The starting point will be based on L-arabinose concentration.
    .accordion-item
      h5#hcn-production-build-2-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-build-2' aria-expanded='true' aria-controls='hcn-production-build-2')
          | Build
      #hcn-production-build-2.accordion-collapse.collapse(aria-labelledby='hcn-production-build-2-heading')
        .accordion-body
          div
            h6  
              | Drylab work: Kinetic Modelling
            p
              | The parameter that we consider to be revised are:
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') Parameter
                  th(title='Field #2') Description
                  th(title='Field #3') Value
                  th(title='Field #4') Units
                  th(title='Field #5') Source
              tbody
                tr
                  td \gamma_A1
                  td Rate of L-arabinose degradation
                  td 3.46e x 10-5
                  td s-1
                  td
                    a(href='#reference-16') [16]
                tr
                  td p
                  td Rhodanese synthesis starting point
                  td 50% of initial L-arabinose concentration&nbsp;
                  td M&nbsp;
                  td  
                tr
                  td kcat2
                  td Rate of thiocyanate (SCN) biosynthesis
                  td 5.5&nbsp;
                  td s-1
                  td  
    .accordion-item
      h5#hcn-production-test-2-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-test-2' aria-expanded='true' aria-controls='hcn-production-test-2')
          | Test
      #hcn-production-test-2.accordion-collapse.collapse(aria-labelledby='hcn-production-test-2-heading')
        .accordion-body
          div
            h6  
              | Drylab work: Kinetic Modelling
            p
              | The results of modelling using those parameters are:
            figure.text-center
              img.figure-img.img-fluid.rounded(src="/assets/img/engineering-hcn-regulating-2.jpg" style="max-width:80%; width:80%" alt='engineering-hcn-regulating-2')
    .accordion-item
      h5#hcn-production-learn-2-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#hcn-production-learn-2' aria-expanded='true' aria-controls='hcn-production-learn-2')
          | Learn
      #hcn-production-learn-2.accordion-collapse.collapse(aria-labelledby='hcn-production-learn-2-heading')
        .accordion-body
          div
            h6
              | Drylab work: Kinetic Modelling
            p 
              | The HCN concentration reduction becomes less steep, thus gold cyanidation could be more efficient. It will prolong the almost optimum gold leaching period and surely increase the potential gold yield. Although we achieved desirable results through modelling, further laboratory experiments also needed to verify our model and obtain more realistic results. Large scale and pilot testing are also required for industrial application.
section#genome-scale
  h4.display-4.text-primary
    | Genome Scale Metabolic Model: Gene knockout for enhancing the flux of cyanide production pathway
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/engineering-genome-scale.png" style="max-width:80%; width:80%" alt='engineering-genome-scale')
  .accordion
    .accordion-item
      h5#genome-scale-design-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#genome-scale-design' aria-expanded='true' aria-controls='genome-scale-design')
          | Design
      #genome-scale-design.accordion-collapse.collapse(aria-labelledby='genome-scale-design-heading')
        .accordion-body
          div
            h6 
              | How to enhance cyanide production?
            p
              | Our idea was to perform the Genome Scale Model (GEMs) for a knockout prediction and flux analysis to optimize the cyanide production. The output for this model were production envelope which compares the metabolic map between the knockout mutant and wild type as well as to illustrate the flux uplift to the cyanide production pathway. We use BiGG Model database (
              a(href="http://bigg.ucsd.edu" target="_blank") http://bigg.ucsd.edu 
              | ),
              a(href="#reference-17")
              sup 17
              | KEGG metabolic pathway (
              a(href="https://www.genome.jp/kegg/pathway/" target="_blank") https://www.genome.jp/kegg/pathway/
              | ),
              a(href="#reference-18")
              sup 18
              | and Escher (
              a(href="https://escher.github.io/#/" target="_blank") https://escher.github.io/#/
              | ),
              a(href="#reference-19")
              sup 19
              | to confirm and simulate the pathway. 
            p 
              | To perform the knockout prediction model, we use stochastic and deterministic approaches. Data resource that we used was the SBML model with XML language and Escher map which used JSON language. We carried out the engineering, simulation, and model alteration process using Jupyter Notebook and Jupyter widget which were provided in the Escher module. In general, the GEMs implementation used a particular module in Python which related to its task such as Escher, Cameo, and Cobra. These modules have a good documentation which enables us to understand its usage in either class or the methods.
            p
              | Tay et al., (2013) once performed a comparative proteome analysis through cyanogenesis in C. violaceum and established the overview of cyanogenesis pathway.
              a(href="#reference-20")
              sup 20
              | On the other hand, Benarjee et al. (2019) also did the GEMs to C. violaceum, yet merely to describe and identify NAD+ recycling.
              a(href="#reference-21")
              sup 21
              | In our project, we updated the model and metabolic map from Benarjee et al. (2018) with the adaptation of cyanogenesis pathway that have been published by Tay et al. (2013).
              a(href="#reference-20")
              sup 20
            sup ,
              a(href="#reference-21")
              sup 21
            p
              | After updating the model and metabolic map, we try to knockout the prediction gene using OptGene and OPTKnock.
              a(href="#reference-22")
              sup 22
            sup ,
              a(href="#reference-23")
              sup 23
            p 
              | These approaches were recommended to us by our instructor, Mr. Matin Nuhamunada. The results of this model were expected to illustrate the metabolic flux shiftment to cyanide production through gene knockout process.
    .accordion-item
      h5#genome-scale-build-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#genome-scale-build' aria-expanded='true' aria-controls='genome-scale-build')
          | Build
      #genome-scale-build.accordion-collapse.collapse(aria-labelledby='genome-scale-build-heading')
        .accordion-body
          div
            p
              | We used a model and map file from Banerjee et al. (2019) with some modification. Curation is still needed to match the reactions and metabolites IDs between the map and the model. We found that there are 32 reactions with some IDs mismatch between the Escher map and the model, three ‘double’ reactions, and two metabolites which should be curated. After that, we started to fix the IDs in the model. Following that, we had our discussion with our instructor, Mr. Matin Nuhamunada who helped us to evaluate and fix the model. In addition to the model, we also modified the metabolic map.  We manually added some reactions in the cyanide production pathway to the metabolic map using the Escher module, because at the beginning it still lacks the cyanide production pathway. For further detail, please visit 
              |
              a(href="/Model") Model: Genome Scale Metabolic Model
              |
              | .
    .accordion-item
      h5#genome-scale-test-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#genome-scale-test' aria-expanded='true' aria-controls='genome-scale-test')
          | Test
      #genome-scale-test.accordion-collapse.collapse(aria-labelledby='genome-scale-test-heading')
        .accordion-body
          div
            p
              | We performed a phenotypic phase plane to show us a trade-off between our target (in this case cyanide production) and the biomass of C. violaceum. We also implemented the OptGene and OptKnock approaches from Cameo to predict the gene knockouts for enhancing the cyanide production. Based on the OptGene and OptKnock gene knockout result, we then analysed the reaction flux of the metabolic maps (Escher map) between the wild type and knockout mutant of C. violaceum, especially in cyanide production pathway. For further detail of our test result, please visit 
              |
              a(href="/Model") Model: Genome Scale Metabolic Model
              |
              | .
    .accordion-item
      h5#genome-scale-learn-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#genome-scale-learn' aria-expanded='true' aria-controls='genome-scale-learn')
          | Learn
      #genome-scale-learn.accordion-collapse.collapse(aria-labelledby='genome-scale-learn-heading')
        .accordion-body
          div
            p
              | We found some difficulties due to the limited solution from OptGene and OptKnock. Some examples from the knockout prediction, especially which mentioned in 
              a(href="https://cameo.bio/05-predict-gene-knockout-strategies.html" target="_blank") https://cameo.bio/05-predict-gene-knockout-strategies.html
              | were merely discussed and model the exchange reaction as the target,
              a(href="#reference-22")
              sup 22
            sup ,
              a(href="#reference-23")
              sup 23
            p   
              | in fact we did not use exchange reaction in our model. Thus, we did the consultation with our instructor and they suggested us to use the exchange reaction because it can represent the knockout prediction for the accumulation of targeted extracellular metabolic. However, in our knockout model we solely try the cyanide production reaction (glycine:acceptor oxidoreductase)  as the main target. Therefore, it is necessary to improve and add the cyanide exchange reaction to our model and transform the target in the knockout prediction into the cyanide exchange reaction.
section#pyrite
  h4.display-4.text-primary
    | Pyrite Dissolution Bioreactor
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/engineering-pyrite-0.png" style="max-width:80%; width:80%" alt='engineering-pyrite-0')
  .accordion
    .accordion-item
      h5#pyrite-design-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-design' aria-expanded='true' aria-controls='pyrite-design')
          | Design
      #pyrite-design.accordion-collapse.collapse(aria-labelledby='pyrite-design-heading')
        .accordion-body
          div
            p
              | There are many possibilities of pyrite dissolution enzyme inhibition mechanism. The bioreactor main variables, such as µmax, KS, and KP are determined by fitting the experimental data with semi-batch bioreactor equation and model. This variable will also vary depending on: bioreactor operating condition, such as pH and temperature; substrate, such as different type of gold ore; and computational method, such as Lineweaver-Burk or linear regression. 
            p
              | Determining the inhibition mechanism of pyrite dissolution bioreactor will be useful for scale-up, developing process control (like PID), and further research for bioleaching of another metals using archaebacterial.
            p
              | In this case, we modelled and calculated the results using python via jupyter notebook.
    .accordion-item
      h5#pyrite-build-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-build' aria-expanded='true' aria-controls='pyrite-build')
          | Build
      #pyrite-build.accordion-collapse.collapse(aria-labelledby='pyrite-build-heading')
        .accordion-body
          div
            p
              | For bioreactor modelling, we wrote ODE based on the relation of X (cell count), P (product concentration), and S (substrate concentration) with V (total volume) by applying Monod model and dilution rate:
            p 
              | \begin{align*} \frac{d(XV)}{dt} = V\frac{dX}{dt} + X\frac{dV}{dt} = V\frac{dX}{dt} + F(t)X \\ \frac{dX}{dt} = - \frac{F(t)}{V}X + r_c(X,S)  \\ \end{align*}  \begin{align} \frac{d(PV)}{dt} = V\frac{dP}{dt} + P\frac{dV}{dt} = V\frac{dP}{dt} + F(t)P \\ \frac{dP}{dt} = - \frac{F(t)}{V}P + r_P(X,S) \\ \end{align}  \begin{align*} \frac{d(SV)}{dt} = V\frac{dS}{dt} + S\frac{dV}{dt} = V\frac{dS}{dt} + F(t)S \\ \frac{dS}{dt} = \frac{F(t)}{V}(S_f - S) - \frac{1}{Y_{X/S}}r_g(X,S) \\ \end{align*}
            p 
              | The formula derivation from basic ODE correlation of X, P, and S with V is described in 
              |
              a(href="/Bioreactor") Bioreactor
              |
              | page.
            p  
              | The specific cell growth rate expressed as follows:
            p 
              | \[\mu_{S} = \mu_{max}\frac{S}{K_S + S}\]
            p 
              | However, that equation doesn’t include the inhibitor variable. Based on ferrous iron oxidation in #[i T. Ferrooxidans periplasm], we hypothesized that the cell regulates itself to inhibit the oxidation process with competitive inhibition. Thus, the µs equation with competitive inhibition would be:
            p
              | \[\mu_{S} = \mu_{max}\frac{S}{K_S(1+ \frac{S_0-S}{K_P})+S}\\\]
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') X
                  th(title='Field #2') Cell concentration (grams/liter)
              tbody
                tr
                  td P
                  td Product concentration (grams/liter)
                tr
                  td S
                  td Substrate concentration (grams/liter)
                tr
                  td \(S_0\) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  td Feed substrate concentration (grams/liter)
                tr
                  td \(r_c\)&nbsp;
                  td Rate of cell or biomass growth (grams/liter/hr)
                tr
                  td \(r_p\)&nbsp;
                  td Rate of product formation (grams/liter/hr)
                tr
                  td \(Y_{P/X}\)&nbsp;
                  td Product yield coefficient
                tr
                  td \(Y_{S/X}\)&nbsp;
                  td Cell growth coefficient
                tr
                  td F(t)
                  td Flowrate (liter/hr)
                tr
                  td \(\mu_{S}\)
                  td Cell specific growth rate
                tr
                  td \(\mu_{max}\)
                  td Maximum cell specific growth rate
                tr
                  td \(K_S\)
                  td Half saturation constant
                tr
                  td \(K_P\)
                  td Inhibition constant
            p 
              | The regulation of #[i T. Ferrooxidans cell] as competitive inhibitor assumption gives the following value for bioreactor-related variables:
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') Kinetic Variable
                  th(title='Field #2') FIELD2
              tbody
                tr
                  td \(\mu_{max}\)&nbsp;
                  td 1.25 hr^{-1}
                tr
                  td \(K_S\)&nbsp;
                  td 0.125 gram/liter
                tr
                  td \(K_P\)&nbsp;
                  td 0.02 gram/liter
                tr
                  td \(Y_{S/X}\)&nbsp;
                  td 0.324 gram/gram
                tr
                  td \(Y_{P/X}\)&nbsp;
                  td 0.4348 gram/gram
                tr
                  td \(S_0\)&nbsp;
                  td 606.6225 gram/liter
                tr
                  td Bioreactor Operating Condition
                  td  
                tr
                  td pH
                  td 2.3
                tr
                  td Temperature
                  td 25#[sup o]C
            p 
              | Suzuki et al, 1989
    .accordion-item
      h5#pyrite-test-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-test' aria-expanded='true' aria-controls='pyrite-test')
          | Test
      #pyrite-test.accordion-collapse.collapse(aria-labelledby='pyrite-test-heading')
        .accordion-body
          div
            h6 
              | Cell-Regulated Competitive Inhibition
            p
              | In this model, it is assumed that the operating conditions are maintained from the beginning until the end of the process batch. Then, the reaction was modelled via Jupyter Notebook.
            figure.text-center
              img.figure-img.img-fluid.rounded(src="/assets/img/engineering-pyrite-1.png" style="max-width:80%; width:80%" alt='engineering-pyrite-1')
            p 
              | These are the results of cell concentration (X), product concentration (P), substrate concentration (S), and total volume (V) in 40 hours batch time:
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') Variable
                  th(title='Field #2') Initial (time = 0 hr)
                  th(title='Field #3') End of Batch (time = 40 hr)
                  th(title='Field #4') Unit
              tbody
                tr
                  td X
                  td 0.05
                  td 1,95E+10
                  td Gram/liter
                tr
                  td P
                  td 0
                  td 8.463.576.051
                  td Gram/liter
                tr
                  td S
                  td 6.066.225
                  td 583.712.039
                  td Gram/liter
                tr
                  td V
                  td 25
                  td 27
                  td Liter
    .accordion-item
      h5#pyrite-learn-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-learn' aria-expanded='true' aria-controls='pyrite-learn')
          | Learn
      #pyrite-learn.accordion-collapse.collapse(aria-labelledby='pyrite-learn-heading')
        .accordion-body
          div
            p
              | To further extract the product, the residence time could be extended to be more than 40 hours. However, it is not efficient. The 40 hours residence time is considered to be moderate time for the gold bioleaching step, but it is still time consuming. 
    .accordion-item
      h5#pyrite-design-2-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-design-2' aria-expanded='true' aria-controls='pyrite-design-2')
          | Design
      #pyrite-design-2.accordion-collapse.collapse(aria-labelledby='pyrite-design-2-heading')
        .accordion-body
          div
            p
              | There is another component that potentially be the most potent inhibitor agent: Fe#[sup 3+], the product itself. The product being the inhibitor itself is present in a lot of other enzymatic reactions. This hypothesis could also be true for pyrite dissolutions.
    .accordion-item
      h5#pyrite-build-2-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-build-2' aria-expanded='true' aria-controls='pyrite-build-2')
          | Build
      #pyrite-build-2.accordion-collapse.collapse(aria-labelledby='pyrite-build-2-heading')
        .accordion-body
          div
            p
              | The second theory is by assuming Fe3+, the product itself to be the one who inhibits the iron oxidation process with a competitive inhibition mechanism. This theory gives the following value for bioreactor-related variables:
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') Kinetic Variable
                  th(title='Field #2') FIELD2
              tbody
                tr
                  td \(\mu_{max}\)&nbsp;&nbsp;
                  td 1.25 hr^{-1}
                tr
                  td \(K_S\)&nbsp;&nbsp;
                  td 0.048 gram/liter
                tr
                  td \(K_P\)&nbsp;&nbsp;
                  td 0.06 gram/liter
                tr
                  td \(Y_{S/X}\)&nbsp;&nbsp;
                  td 0.324 gram/gram
                tr
                  td \(Y_{P/X}\)&nbsp;&nbsp;
                  td 0.4348 gram/gram
                tr
                  td \(S_0\)&nbsp;&nbsp;
                  td 606.6225 gram/liter
                tr
                  td Bioreactor Operating Condition
                  td  
                tr
                  td pH
                  td 1.6
                tr
                  td Temperature
                  td 30#[sup o]C
            p 
              | Jones et al, 1983
    .accordion-item
      h5#pyrite-test-2-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-test-2' aria-expanded='true' aria-controls='pyrite-test-2')
          | Test
      #pyrite-test-2.accordion-collapse.collapse(aria-labelledby='pyrite-test-2-heading')
        .accordion-body
          div
            p 
              | In this model, it is assumed that the operating conditions are maintained from the beginning until the end of the process batch. Then, the reaction was modelled via Jupyter Notebook.
            figure.text-center
              img.figure-img.img-fluid.rounded(src="/assets/img/engineering-pyrite-2.png" style="max-width:80%; width:80%" alt='engineering-pyrite-2')
            p 
              | These are the results of cell concentration (X), product concentration (P), substrate concentration (S), and total volume (V) in just 4 hours batch time, 36 hours shorter than the previous mechanism:
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') Variable
                  th(title='Field #2') Initial (time = 0 hr)
                  th(title='Field #3') End of Batch (time = 4 hr)
                  th(title='Field #4') Unit
              tbody
                tr
                  td X
                  td 0.05
                  td 1,96E+10
                  td Gram/liter
                tr
                  td P
                  td 0
                  td 8.508.121.549
                  td Gram/liter
                tr
                  td S
                  td 6.066.225
                  td 267.506.643
                  td Gram/liter
                tr
                  td V
                  td 25
                  td 25.2
                  td Liter
            p 
              | We managed to achieve 4 hours of pyrite dissolution process with this mechanism. Still, there are another inhibition mechanism by Fe#[sup 3+] that is worth modeling.
    .accordion-item
      h5#pyrite-design-3-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-design-3' aria-expanded='true' aria-controls='pyrite-design-3')
          | Design
      #pyrite-design-3.accordion-collapse.collapse(aria-labelledby='pyrite-design-3-heading')
        .accordion-body
          div
            p
              | There are 3 types of enzyme inhibition: competitive, non-competitive, and uncompetitive. According to one research, Fe#[sup 3+] also has potential to inhibit the iron oxidation in #[i T. Ferrooxidans] by non-competitive inhibition.
    .accordion-item
      h5#pyrite-build-3-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-build-3' aria-expanded='true' aria-controls='pyrite-build-3')
          | Build
      #pyrite-build-3.accordion-collapse.collapse(aria-labelledby='pyrite-build-3-heading')
        .accordion-body
          div
            p
              | The third theory is by assuming Fe3+ to inhibit the reaction by non-competitive inhibition mechanism. For non-competitive inhibition, the value of cell specific growth rate would be described as:
            p 
              | \[\mu_{S} = \mu_{max}\frac{S}{K_S+S(1+ \frac{S_0-S}{K_P})}\\\]
            p 
              | This theory gives the following value for bioreactor-related variables:
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') Kinetic Variable
                  th(title='Field #2') FIELD2
              tbody
                tr
                  td \(\mu_{max}\)&nbsp; &nbsp;&micro;max
                  td 1.33 hr^{-1}
                tr
                  td \(K_S\) &nbsp; KS
                  td 0.04 gram/liter
                tr
                  td \(K_P\) &nbsp; KP
                  td 0.06 gram/liter
                tr
                  td \(Y_{S/X}\) &nbsp; YS/X
                  td 0.324 gram/gram
                tr
                  td \(Y_{P/X}\) &nbsp; YP/X
                  td 0.4348 gram/gram
                tr
                  td \(S_0\) &nbsp; S0
                  td 606.6225 gram/liter
                tr
                  td Bioreactor Operating Condition
                  td  
                tr
                  td pH
                  td 1.6
                tr
                  td Temperature
                  td 30 #[sup o]C
            p 
              | Jones et al, 1983
    .accordion-item
      h5#pyrite-test-3-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-test-3' aria-expanded='true' aria-controls='pyrite-test-3')
          | Test
      #pyrite-test-3.accordion-collapse.collapse(aria-labelledby='pyrite-test-3-heading')
        .accordion-body
          div
            h6 
              | Fe#[sup 3+] Non-Competitive Inhibition
            p 
              | In this model, it is assumed that the operating conditions are maintained from the beginning until the end of the process batch. Then, the reaction was modelled via Jupyter Notebook.
            figure.text-center
              img.figure-img.img-fluid.rounded(src="/assets/img/engineering-pyrite-3.png" style="max-width:80%; width:80%" alt='engineering-pyrite-3')
            p 
              | These are the results of cell concentration (X), product concentration (P), substrate concentration (S), and total volume (V) in 17000 hours:
            table.table.table-bordered.table-hover.table-condensed
              thead
                tr
                  th(title='Field #1') Variable
                  th(title='Field #2') Initial (time = 0 hr)
                  th(title='Field #3') End of Batch (time = 17000 hr)
                  th(title='Field #4') Unit
              tbody
                tr
                  td X
                  td 0.05
                  td 1,97E+10
                  td Gram/liter
                tr
                  td P
                  td 0
                  td 8.545.373.735
                  td Gram/liter
                tr
                  td S
                  td 6.066.225
                  td 0.0307269178
                  td Gram/liter
                tr
                  td V
                  td 25
                  td 875
                  td Liter
    .accordion-item
      h5#pyrite-learn-3-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-learn-3' aria-expanded='true' aria-controls='pyrite-learn-3')
          | Learn
      #pyrite-learn-3.accordion-collapse.collapse(aria-labelledby='pyrite-learn-3-heading')
        .accordion-body
          div
            p
              | From the non-competitive hypothesis, the residence time increased to 1700 hours. The volume also expanded 35 times.
    .accordion-item
      h5#pyrite-conclusion-heading.accordion-header.my-0
        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#pyrite-conclusion' aria-expanded='true' aria-controls='pyrite-conclusion')
          | Final Conclusion
      #pyrite-conclusion.accordion-collapse.collapse(aria-labelledby='pyrite-conclusion-heading')
        .accordion-body
          div
            p
              | Thus, the best inhibition mechanism to determine bioreactor for artisanal & small scale gold mining (ASGM) is competitive inhibition by Fe#[sup 3+].

