---
layout: layouts/default.njk
title: Entrepreneurship
heroImage: /assets/img/hero-entrepreneurship.jpg
dataSidebar: [
    {"href" : "#entrepreneurship", "name" : "Entrepreneurship"}
]
---

Entrepreneurship