---
layout: layouts/default.njk
title: Entrepreneurship
heroImage: /assets/img/hero-entrepreneurship.jpg
dataSidebar: [
    {"href" : "#understand-small-miners", "name" : "Understand the problems and needs of small miners"},
    {"href" : "#understand-mining-cooperatives", "name" : "Understand the importance of mining cooperatives in the implementation of the Auviola project"},
    {"href" : "#conduct-economic-measures", "name" : "Conduct economic measures and calculations"}
]
dataReferences : [
  {
    "reference" : "Buxton, A, 2013, <i>Responding to the challenge of artisanal and small-scale mining. How can knowledge networks help</i>, IIED, London.",
    "online" : "false"
  },
  {
    "reference" : "Timsina, T. P., 2021, A Comparative Assessment of ACCESS Auditor’s Manual and ISO 9001: 2015 Standards in the Perspective of Training on ISO 9001 to Cooperative Staff and Board Members, <i>Journal of Advanced Academic Research</i>, vol. 8, no. 1, pp. 63-78.",
    "online" : "false"
  }
]
---

p Pollution due to mining is a very complex problem and involves many stakeholders. One of those involved in the mining process is Artisanal and small-scale gold mining (ASGM). They are a community with a unique character and culture. ASGM directly deals with the problem of environmental pollution due to mining. The polluted environment is affecting their home, while the transition of gold processing regulations are affecting their jobs. iGEM provides space to find a way out for problems that are still related to the project. We are trying to find out more and discover the best solution to solve this problem.
p Our team dedicates this project to Artisanal and small-scale mining. To address this issue, we take several approaches:
ul
  li Understand the problems and needs of small miners.
  li Understand the importance of mining cooperatives in the implementation of the Auviola project.
  li Conduct economic measures and calculations.
section#understand-small-miners
  h4.display-4.text-primary
    | Understand the problems and needs of small miners
  p 
    | Artisanal and small-scale gold mining (ASGM) occurs in some of the most remote areas in the world and involves some of the world’s poorest people. Despite the scale of need, many development donors and programmes don’t engage with the sector, seeing ASGM livelihoods as undesirable and fearing that engagement may perpetuate illegal or dangerous activities.
    a(href='#reference-1')
      sup 1
  p
    | ASGM activities are often viewed negatively by governments, large companies, environmentalists, and others. At the extreme, governments consider the sector illegal and attempt to ban it through different means. Miners often work outside of the legal, or formal, system which makes them vulnerable to exploitation in trade. Poverty means products are sold quickly and the best price is not always secured. Miners rarely undertake value-adding activities because of restrictions on finance and investment. ASGM trading chains are extremely complex and sometimes illegal. Attempts to suppress ASGM often force these activities ‘underground’. ASGM miners are poorly equipped to respond to these challenges due to insecure land rights, limited or no financial resources, inability to access credit and limited financial skills.
    a(href='#reference-1')
      sup 1
  p Therefore, a solution is needed so that the community can legally obtain mining permits and access to environmentally friendly mining technology. One of the best solutions we found was a community mining cooperative. Cooperatives are organizations accepted by the government in Indonesia and can "protect" ASGM from various conflicts and trade exploitation.
section#understand-mining-cooperatives
  h4.display-4.text-primary
    | Understand the importance of mining cooperatives in the implementation of the Auviola project
  p 
    | Cooperatives are people-centred enterprises owned, controlled and run by and for their members to realise their common economic, social, and cultural needs and aspirations. Cooperatives bring people together in a democratic and equal way.
    a(href='#reference-2')
      sup 2
  p
    | To learn more about gold mining cooperatives and the implementation direction of the Auviola project, we conducted an interview with #[b Ria Camelina], a local facilitator from GOLD-ISMIA who is directly involved in encouraging Artisanal and small mining cooperatives. What we get from the interviews are reflected on and rewrite in our own language and not as statements from GOLD-ISMIA.
    a(href='#reference-1')
      sup 1
  ol.styled
    li
      h5 Why is it necessary to form a cooperative?
      p Cooperatives were built to accommodate mining groups to form business entities so that they can apply for the formalization of the legality of mining areas. Cooperatives are social enterprises legally recognized by the Indonesian government.
    li
      h5 How can cooperatives “help” small-scale miners?
      p Cooperatives make it easier for miners to gain access to financing and various education such as basic finance and business management. Cooperatives can also protect miners from exploitation in trade so that miners can obtain the best prices and security in trading.
    li
      h5 What are the challenges and solutions needed today?
      p Cooperatives are new to most ASGM. ASGM does not have enough expertise in basic business management. In addition, to avoid conflicts of interest, it is necessary to have an agreement from various stakeholders.
    li
      h5 What is the cooperative integration with the project?
      p With the cooperative, we conclude that Artisanal gold miners are starting to open up and are willing to learn new methods. Cooperatives are considered to be a suitable place for ASGM to learn about new methods in gold processing that are more environmentally friendly. However, the solutions we offer will be meaningless if they are not profitable for ASGM. The method we offer must have good economic value, or at least the operational costs are not much different from the existing method.
section#conduct-economic-measures
  h4.display-4.text-primary
    | Conduct economic measures and calculations
  p 
    | To be realistic, we should ensure that our solution is scalable and financially viable. This way, we can make financial planning and decide what kind of realistic implementation that can be organized. Thus, we create an economic measurement model to ensure this method is profitable for Artisanal Small scale Gold Mining. To read more about economic measures and calculations, please check out our
    |
    a(href="/Implementation") Implementation
    |
    | page.