---
layout: layouts/default.njk
title: Human Practices
heroImage: /assets/img/hero-human_practice.jpg
dataSidebar: [
    {"href" : "#overview", "name" : "Human Practices Overview"},
    {
      "href" : "#understand-problem",
      "name" : "Understand The Problem",
      "subnav" : [
        {"href" : "#literature-review", "name" : "Literature Review"},
        {"href" : "#asgm-interview", "name" : "ASGM Interview"},
        {"href" : "#expert-interview", "name" : "Environmental Expert Interview"},
        {"href" : "#gold-ismia", "name" : "Online Sharing Session with GOLD-ISMIA Project Team"}
      ]
    },
    {"href" : "#ihp", "name" : "Integrated Human Practices"}
]
dataReferences: [
    {
      "reference" : "Lamare, A., 2013, Top 10 Gold Producing Countries in the World",
      "online" : "true",
      "link" : "https://www.celebritynetworth.com/articles/entertainment-articles/top-10-gold-producing- countries-world/"
    },
    {
      "reference" : "Suhartini and Abubakar, 2017, Socio economic impacts and policy of artisanal small scale gold mining in relation to sustainable agriculture: a case study at Sekotong of West Lombok, <i>J. Degrad. Min. Lands Manag</i>, vol. 4, pp. 789–796.  ",
      "online" : "false"
    },
    {
      "reference" : "Suhadi, S., Sueb, S., Muliya, B. and Meilia Ashoffi, A., 2021, Pollution of mercury and cyanide soils and plants in surrounding areas in the Artisanal and Small-Scale Gold Mining (ASGM) at Sekotong District, West Lombok, West Nusa Tenggara, <i>Biological Environment and Pollution</i>, vol. 1, no. 1, pp.30-37.",
      "online" : "false"
    }
]
---

section#overview
  h4.display-4.text-primary
    | Human Practices Overview
  p Finding a solution to the cyanide-waste problem could be one of the keys to mitigate cyanide pollution and poisoning, especially around artisanal small-scale gold mining (ASGM) area. To achieve it, we have to make sure that our solution is right on target, cost-effective, and problem-driven. Throughout the year, we tried to engage, have a discussion, and communicate with the ASGM community, stakeholders, and environmental experts to collect as much information as possible. We visited the local ASGM area in Kulonprogo, Yogyakarta to find out what’s really going on in the field. We talked to the GOLD ISMIA project, a pilot project by the United Nations Development Program in Indonesia aimed to eliminate mercury in gold mining. We also talked with Professor Suhadi, an environmental expert, and his team about how cyanide has polluted plants, animals, and even humans in Sekotong District, Nusa Tenggara, Indonesia and the challenges that might be faced during project implementation.
  p iGEM UGM Indonesia also created several education events aimed to educate students and the general public about synthetic biology and iGEM competition as an action of our concern about the lack of awareness about synthetic biology in Indonesia. Moreover, we also collaborated with several iGEM teams across the country and across the globe.
  p Here is the story of how iGEM UGM came up with AUVIOLA, a cyanide-regulating system for gold bioleaching and waste treatment towards sustainable non-mercury gold processing.
section#understand-problem  
  h4.display-4.text-primary
    | Understand The Problem
  #literature-review
    h5.display-5.text-primary Literature Review
    p There are around 90 countries in the world conducting gold mining activities. Indonesia ranked in the top eight with gold production of 73.1 tons with 3000 tons of gold reserves [1]. Gold production, in general, is categorized into large-scale, medium-scale, and small-scale mining. Small-scale mining or Artisanal and Small-Scale Gold Mining (ASGM) accounts for 50% of world mining [2]. There are several methods used in gold mining, one of which is the leaching process using cyanide. 
    p Cyanide, according to CDC, is a rapidly acting, potentially deadly chemical that may pollute rivers, soil, or even crops. Many small gold miners do not understand how cyanide can pollute the environment and even create harm to human health. They even mix and process the gold using bare hands. They dump the waste containing cyanide directly into the environment without any further processing. Several of them only dry the remaining mud in the sun hoping that the cyanide will evaporate and be safe to be dumped in the river. 
    p A study conducted by Suhadi et al. in 2021 found that HCN content in plants growing near the local gold mining areas in Sekotong District, West Nusa Tenggara, Indonesia, has reached 18.41-52.85 mg/kg. Referring to the standards set by WHO and health policy of Republic of Indonesia number 57 the year 2016, the soil and plants are regarded as polluted and create a negative impact on organisms living nearby. In Yogyakarta, the city where iGEM UGM resides, there has not been any research measuring the amount of cyanide pollution around the ASGM area in Kulonprogo yet, we knew that the gold miners are switching from mercury to several other methods, one of them using cyanide. The iGEM UGM team tried to find the best solution to prevent the same thing that happened in Sekotong happening again in another small-gold mining area, especially in Yogyakarta as our hometown.
    p Our mission as Human Practices is to connect and engage with the small gold miners and listen to their experiences and concerns. In addition, we have conversations with the stakeholders and experts to understand the bigger picture of ASGM waste problems. We think that Integrated Human Practices poses a great opportunity to use science to tackle everyday life issues. We have formulated the human practices design to be able to make an organized way of thinking to close the loop of ASGM waste problems using synthetic biology.
  #asgm-interview
    h5.display-5.text-primary ASGM Interview
    //- figure.text-center
    //-   img.figure-img.img-fluid.rounded(src="/assets/img/human_practices-asgm-1.jpg")
    //-   figcaption.figure-caption Artisanal Small Scale Gold Mining (ASGM) - #[b #[i Eko Suryanto]]
    p #[i Artisanal Small Scale Gold Mining (ASGM) - #[b Eko Suryanto]]
    p To find out how ASGM views, we visited one of the ASGM in the Kulon Progo District, Special Region of Yogyakarta, Indonesia. We were lucky enough to meet and interview Mr. Eko Suryanto at Kalirejo Village. He is a senior in an ASGM which has been operating for more than 20 years. From him, we get a lot of valuable information that drives our project to run according to what they really need.
    p Since mercury-based gold processing was banned by the government, Mr. Eko Suryanto slowly turned from amalgamation to the cyanidation method. But he said that cyanidation had many disadvantages compared to amalgamation. It is difficult to get cyanide for processing because there are no chemical stores available in remote areas where ASGM lives. However, mercury has been used for a long time and they know how to get it very well. In addition, cyanidation requires more complicated treatments, such as periodic pH control and a large number of materials are needed.
    p According to Mr. Suryanto, mercury for amalgamation can be used for multiple processes, but cyanide can only be used once. Whereas, the processing results are inconsistent and depending on the quality of their gold ore. It is possible for them to not get any profit at all. After being used, cyanide needs a very complex and costly waste treatment. This is what makes many ASGM reluctant to treat waste properly, even though they know exactly it's bad for the environment.
    p There are still quite a number of ASGM problems that we have heard from Mr. Eko Suryanto, such as legalization permits and human rights issues. However, we realize that we will not be able to figure out all the problems that exist. So we will focus more on the value of developing gold processing methods that are environmentally friendly and economically profitable using synthetic biology.
  #expert-interview
    h5.display-5.text-primary Environmental Expert Interview
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/human_practices-asgm-2.png")
      figcaption.figure-caption Environmental expert - #[b #[i Professor Doctor Suhadi]]
    p Professor Doctor Suhadi is a lecturer and researcher of environmental science at Malang State University. One of his areas of expertise area lies in researching the pollution of mercury and cyanide surrounding Artisanal and Small-Scale Gold Mining (ASGM). He kindly shares with us about his research on cyanide pollution around Sekotong District, West Lombok, Nusa Tenggara, Indonesia.
    p According to observations made by Professor Doctor Suhadi, the behavior of an ASGM at Sekotong District has shifted from using mercury to cyanide. However, the ASGM still does not have the awareness to treat cyanide waste properly. Surprisingly, the cyanide waste from gold processing is only accommodated in a pond until it is full and then released into the environment without any treatment. Moreover, many of ASGM's gold processing points are located near water sources such as rivers, lakes, and the sea.
    p The results of research by Professor Doctor Suhadi show that the levels of HCN content in the soil and water around the ASGM area at Sekotong District have exceeded the WHO threshold. The soil and plants are regarded as polluted and create a negative impact on organisms living nearby. Once there was a case of an ASGM worker who died of cyanide poisoning due to human error. He explained that ASGM actually understands that cyanide is toxic, but they don't really care about that. There is a possibility that there will be permanent environmental damage and will be difficult to restore in the future.
    p Professor Doctor Suhadi empathizes to always be careful when approaching the ASGM community. There are so many sensitive issues related to ASGM that make the community tend to be very closed. He also advised that every solution we offer really needs to be integrated with various stakeholders who support environmentally friendly gold processing, so that it can be easily accepted by the community.
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/human_practices-asgm-5.jpg")
      figcaption.figure-caption The documentation of consultation session with Professor Doctor Suhadi also with his research team
  #gold-ismia
    h5.display-5.text-primary Online Sharing Session with GOLD-ISMIA Project Team
    p On Monday of August’s first week (August 2#[sup nd], 2021), we held an online sharing session with the GOLD-ISMIA Project Team. The GOLD-ISMIA, that stands for Global Opportunities for Long-term Development of ASGM Sector Integrated Sound Management of Mercury in Indonesia’s ASGM, is a five-years project to reduce and eliminate mercury in the Artisanal and Small-scale Gold Mining (ASGM) by utilizing cyanidation process. Coming with this session, we aimed to deeply learn about the current application of mercury in Indonesia’s ASGM as well as explore the benefits of cyanidation in the gold mining process.
    p This session was attended by Ms. Baiq Dewi Krisnayanti, Ms. Harti Ningsih and Ms. Ria Camelina as representatives of the GOLD-ISMIA Project Team. From this session, we had an opportunity to present our Auviola project in front of them. Afterwards, the GOLD-ISMIA Team presented their current works in the scope of strengthening regulation, financial access, raising awareness and technology transfer to mercury-free gold processing plant by utilizing cyanidation process as the leaching technology.
    p The GOLD-ISMIA project is relevant to ours which is to introduce a gold leaching system using cyanide produced by bio-agent. We have learned that cyanidation provides more benefits as it may be converted into less-toxic waste as carbon dioxide and nitrogen. GOLD-ISMIA also provided us with so much useful information about the issues that we have to tackle in the future such as  the bioreactor environment that the bacteria will have to endure to have an optimum leaching process. This includes the optimum pH for leaching is 10-11, the bacteria endurance to other additional substances like aluminium, and its endurance to temperature should be measured.
    p
      | GOLD-ISMIA also explained to us about the current condition of the gold miners from a social and economic point of view. They tried to facilitate the small gold miners by creating a Cooperatives system, you can read in details in
      |
      a(href="/Entrepreneurship") Entrepreneurship-Cooperatives Mining
      |
      | section. From this session, we also found that there is a potential future collaboration between the GOLD-ISMIA and our project to create a better solution to the gold mining waste and gold mining yield improvement, especially in Indonesia’s ASGM.
    figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/human_practices-asgm-6.jpg" style="max-width:30vw; width:100%;")
      figcaption.figure-caption The documentation of online sharing session with GOLD-ISMIA Project Team
section#ihp
  h4.display-4.text-primary
    | Integrated Human Practices
  p Integrated Human Practices is a crucial aspect in our Auviola journey. Thus, we tried our best to create a human practices design. We know that gold mining has been an important part of many Indonesians. They hang their life through collecting rocks and soil and hope to turn it into gold which they can exchange with money for them to eat. However, many did not know the danger of using chemical substances like cyanide without proper personal protective equipment and dumping the waste without further processing. Therefore, it is very important that our human practices approach could gather the public needs, stakeholder values, and expert opinion to be the basis of Auviola project development. This approach will also make Auviola a problem-driven solution that follows what people need.
  p
    | Our integrated human practices framework reflects on the aforementioned literature review, interviews, and sharing session. Kindly visit our
    | 
    a(href="/IHP") Integrated Human Practices
    |
    | page for more details on how we formulate and build the solutions!