---
layout: layouts/default.njk
title: Integrated Human Practices
heroImage: /assets/img/hero-human_practice.jpg
dataSidebar: [
    {"href" : "#design", "name" : "Integrated Human Practice Design"}
]
---

section#design
  h4.display-4.text-primary
    | Integrated Human Practice Design
  p
    | Integrated Human Practice is a crucial aspect in the iGEM UGM AUVIOLA journey. Thus, we tried our best to create a human practice design. We know that gold mining has been an important part of many Indonesians. They hang their life through collecting rocks and soil and hope to turn it into gold which they can exchange with money for them to eat. However, many did not know the danger of using chemical substances like cyanide without proper personal protective equipment and dumping the waste without further processing. Therefore, it is very important that our human practice approach could gather the public needs, stakeholder values, and expert opinion to be the basis of AUVIOLA project development. This approach also makes AUVIOLA  a problem-driven solution that follows what people need.
