---
layout: layouts/default.njk
title: Implementation
heroImage: /assets/img/hero-implementation.jpg
dataSidebar: [
    {"href" : "#bioreactor", "name" : "Bioreactor for the Auviola System"}
]
---

<div class="col-12 col-lg-9">
    <section id="bioreactor">
        <h4 class="display-4 text-primary mb-4">
            Bioreactor for the Auviola System
        </h4>
        <p>
            Implementing Auviola in the real world will require several considerations. Several factors contributing to the success of the introduction of iGEMs are at the same time possible risk factors. This includes the effect, survival, growth, competitive ability and spread (transport) of the introduced iGEM in the natural environment, and the persistence, spread, and proliferation of the DNA sequences and also horizontal gene transfer. To minimize any of the risk, we are planning to implement Auviola in a closed bioreactor. This enables us to have more control over the environment that the bacteria will live in, the growth, and also the proliferation of the bacteria. 
        </p>
        <p>
            In the bioreactor the bacteria will be mixed with the gold ore. This process needs proper planning to make sure that the bacteria will be able to survive and function as we expected inside the environment which is also an optimum environment for the gold bioleaching process. This includes pH adjustments, substances used during the gold bioleaching, and also the waste products management. In the future, we are planning to do research to optimize the Chromobacterium violaceum and the bioreactor environment to create the best adjustments that can produce the best yield of gold yet minimum waste products. 
        </p>
    </section>
</div>