---
layout: layouts/blank.njk
---

section#home-1
  .container-fluid
    .row.min-vh-100.d-flex.flex-column.justify-content-center.align-items-center.typo-1
      h1 Let's dig some gold
      p in environmentally sustainable way
section#home-2
  .container-fluid
    .row.min-vh-100
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.typo-2
        h1
          b Project
          |
          | Background
        p #[b Artisanal and small-scale gold mining (ASGM)]–gold mining with limited capital investment and production–becomes a big concern especially in Indonesia as it supports 1 million people’s livelihoods.
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.figure-2
        img(src="/assets/img/home-figure-2.png").img-fluid.p-2
section#spacing-2-3
section#home-3
  .container-fluid
    #home-3-1.row.d-flex.flex-column.justify-content-center.typo-3
      h1 ASGM Practices Cause
      h1.bold Environmental Issues
    #home-3-2.row.d-flex.flex-row.justify-content-center.align-items-center
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.figure-3
        img(src="/assets/img/home-figure-3.png").img-fluid.p-5
      .col-12.col-lg-6.typo-3
        p Cyanide is widely utilized by ASGM as a leaching agent in the hydrometallurgical process. However, there are many occurrences of #[b cyanide leakage] and #[b improper waste treatment] within the ASGM practices.
section#home-4
  .container-fluid
    .row.min-vh-100
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.figure-4
        img(src="/assets/img/home-figure-4.png").img-fluid.p-5
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.typo-4
        p In addition, the existing cyanide waste treatment still takes more than 1 month. Moreover, the #[b limited supply of adequate resources] involved in ASGM perplexes people to achieve a proper and efficient cyanide waste treatment.
section#home-5-intro
  .container-fluid
    .row.d-flex.flex-column.justify-content-center.align-items-center
      .col-12.col-lg-6.typo-5
        h1 #[b ???]
        h1 Is there any #[b solution] to this problem
section#home-5
  .container-fluid
    .row.min-vh-100
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.figure-5
        img(src="/assets/img/home-figure-5.png").img-fluid
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.align-items-center.typo-5
        h1 Pyrometallurgy
        p #[b Pyrometallurgy] as an alternative gold extraction method is unsuitable for ASGM as it needs #[b huge energy] sources for the 600oC-heating process. Besides, this process is also unsafe for non-trained workers from local societies.
section#home-5-outro
  .container-fluid
    .row.min-vh-100
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.typo-5
        p Therefore, another approach for gold extraction is needed to achieve a proper implementation among ASGM.
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.figure-5
        img(src="/assets/img/home-figure-5-outro.png").img-fluid
section#home-6-intro
  .container-fluid
    .row.d-flex.flex-column.justify-content-center.align-items-center
      .col-6.d-flex.flex-row.justify-content-center.figure-6
        img(src="/assets/img/home-figure-6-intro.png").img-fluid
    .row.d-flex.flex-column.justify-content-center.align-items-center
      .col-12.col-lg-9.px-2.d-flex.flex-row.justify-content-center.typo-6
        h1 So, here's our #[b project idea]
    #biohydrometallurgy-container.row.d-flex.flex-column.justify-content-center.align-items-center
      #biohydrometallurgy.col-12.col-lg-9.px-2.d-flex.flex-row.justify-content-center.align-items-center.typo-6.p-2
        p  A bacterium #[b #[i Chromobacterium violaceum]] has been found to produce cyanide as well as degrade it faster through enzymatic reaction.
        img(src="/assets/img/home-background-6-intro.png").img-fluid
section#home-6-outro
  .container-fluid
    .row.min-vh-100
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.typo-6
        h1 Meet this friendly bacteria
        p.text-start Therefore, another approach for gold extraction is needed to achieve a proper implementation among ASGM.
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.figure-6
        img(src="/assets/img/home-figure-6-outro.png").img-fluid
    .row.d-flex.flex-column.justify-content-center.align-items-center
      .col-9.col-lg-6.px-2.d-flex.flex-row.justify-content-center.typo-6.px-4
        p.text-center Coming with those flows, we conducted a project based on a synthetic biology approach entitled Auviola!
section#home-7
  .container-fluid
    .row.min-vh-100.d-flex.flex-column.justify-content-center.align-items-center
      .col-6.d-flex.flex-row.justify-content-center.figure-7
        img(src="/assets/img/home-logo-7.png").img-fluid
      .col-6.d-flex.flex-row.justify-content-center.typo-7
        p a cyanide-regulating system for gold bioleaching and waste treatment towards sustainable non-mercury gold processing
    #video.row.d-flex.flex-column.justify-content-center.align-items-center
      .col-6.d-flex.flex-row.justify-content-center.video-container
        img(src="/assets/img/home-frame-7.png").img-fluid
        iframe(sandbox='allow-same-origin allow-scripts allow-popups' title='UGM_Indonesia: AUVIOLA - Cyanide Production and Degradation Strategy for A Bette... (2021) - Project Promotion [English]' src='https://video.igem.org/videos/embed/96931b29-6cb8-4f83-be6f-d971796a24df' frameborder='0' allowfullscreen='')
    .row.min-vh-70.d-flex.flex-column.justify-content-start.align-items-center
      .col-6.d-flex.flex-row.justify-content-center.align-items-center.typo-7
        p Through this project, we intended to engineer #[b #[i C. violaceum]] into an on-off system that may produce optimized amounts of cyanide and subsequently degrade it.
    .row.min-vh-70.d-flex.flex-row.justify-content-center.align-items-center
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.figure-7
        img(src="/assets/img/home-figure-7.png").img-fluid
      .col-12.col-lg-6.d-flex.flex-column.justify-content-center.typo-7
        p.text-end Furthermore, a bioreactor has been designed to provide an environmentally friendly gold bioleaching model to be applied by ASGM.
section#spacing-7-8
section#home-8
  .container-fluid
    .row.min-vh-50.d-flex.flex-column.justify-content-start.align-items-center
      .col-6.d-flex.flex-row.justify-content-center.align-items-center.typo-8
        p.text-center Through this project, we aimed to develop a new strategy for the #[span.yellow better gold bioleaching process and cyanide waste treatment].  Let's contribute to create a sustainable non-mercury gold processing!
    .row.min-vh-50.d-flex.flex-column.justify-content-start.align-items-center
      .col-6.d-flex.flex-row.justify-content-center.align-items-center.typo-8
        h1.text-center Let's start the #[b journey]!