---
layout: layouts/blank.njk
---

<section id="hero-home">
    <div class="container-fluid hero-home min-vh-100 px-0">
        <img src="{{ '/assets/img/hero-home.svg' | url }}" class="img-fluid" alt="Responsive image">
    </div>
</section>