---
layout: layouts/default.njk
title: Medals
heroImage: /assets/img/hero-medals.jpg
dataSidebar: [
    {"href" : "#medals", "name" : "Medals"}
]
---

section#bronze
  h4.display-4.text-primary Bronze Medal
  #competition-deliverables
    h5.display-5.text-primary Competition Deliverables
    ul
      li
        h6.display-6.text-primary Wiki
        p You are currently viewing our wiki page! Scroll up and click on any section you want to know!
      li
        h6.display-6.text-primary Presentation Video
        p Coming Soon!
      li
        h6.display-6.text-primary Judging Form
        p
          | Kindly visit our judging form through this
          |
          a(href="https://igem.org/2021_Judging_Form?id=4076" target="_blank") link.
  #attributions
    h5.display-5.text-primary Attributions
    p 
      | Visit our
      |
      a(href="/Team") Team
      |
      | and
      |
      a(href="/Attributions") Attributions
      |
      | page to find our roles in conducting this Auviola project. You can also find the role of supporting parties as our heroes in this competition.
  #project-description
    h5.display-5.text-primary Project Description
    p 
      | This page describes our background and approach to our project as well as how the idea came to us. Kindly visit our
      |
      a(href="/Description ") Description
      |
      | page.
    p This #[b Auviola] project engineers #[i C. violaceum] to have more cyanide-regulating genes, resulting in a better gold bioleaching process.
  #contribution
    h5.display-5.text-primary Contribution
    p 
      | In this page, we specified our parts and several potential contributions for the future iGEM teams. Kindly check our
      |
      a(href="/Contribution") Contribution
      |
      | page.
    p This #[b Auviola] project engineers #[i C. violaceum] to have more cyanide-regulating genes, resulting in a better gold bioleaching process.
section#silver
  h4.display-4.text-primary Silver Medal
  #engineering
    h5.display-5.text-primary Engineering Success
    p 
      | We have passed through various stages in C. violaceum engineering, such as HCN production, HCN degradation, and arabinose converter system designing. Visit our
      |
      a(href="/Engineering") Engineering
      |
      | page for the details.
  #collaboration
    h5.display-5.text-primary Collaborations 
    p 
      | We luckily get various opportunities to meet other awesome iGEM teams for sharing our ideas and motivations as well as how to face our problems in conducting project. Kindly check our
      |
      a(href="/Collaborations") Collaborations
      |
      | page.
  #human-practices
    h5.display-5.text-primary Human Practices
    p 
      | Visit our
      |
      a(href="/Human_Practices") Human Practices
      |
      | page for more details!
  #proposed-implementation
    h5.display-5.text-primary Proposed Implementation
    p 
      | Take a look at our
      |
      a(href="/Implementation") Implementation
      |
      | page!
section#gold
  h4.display-4.text-primary Gold Medal
  #ihp
    h5.display-5.text-primary Integrated Human Practices
    p 
      | Kindly visit our
      |
      a(href="/IHP") Integrated Human Practices
      |
      | page for more details!
  #model
    h5.display-5.text-primary Project Modeling
    p 
      | Have a look on our
      |
      a(href="/Model") Modeling
      |
      | page!
  #partnership
    h5.display-5.text-primary Partnership
    p 
      | Kindly check our
      |
      a(href="/Partnership") Partnership
      |
      | page!
  #education-communication
    h5.display-5.text-primary Education and Communication
    p 
      | Check our  page for further details!
      |
      a(href="/Communication") Education and Communication
      |
      | page for further details!