---
layout: layouts/default.njk
title: Notebook
heroImage: /assets/img/hero-notebook.jpg
dataSidebar: [
    {"href" : "#notebook", "name" : "Notebook"}
]
---

p
  | Synthetic biology cannot be performed without the role of wet lab experiments as the proof of our proposed engineering design. Here, we provide the Benchling notebook that contains all of our wet lab experiments and results. Click
  |
  a(href="/assets/others/notebook-lab-work.pdf") here
  |
  | !
