---
layout: layouts/default.njk
title: Parts
heroImage: /assets/img/hero-parts.jpg
dataSidebar: [
    {"href" : "#parts", "name" : "Parts"}
]
---

section#parts
  p 
    | In this page, you will find parts utilized for our project.
  ul 
    li #[b BBa_K1602055]
      p 
        | Type: Generator
      p
        | Name: araCpBAD-GFP
      p
        | More information: 
        a(href="http://parts.igem.org/Part:BBa_K1602055" target="_blank") http://parts.igem.org/Part:BBa_K1602055
