---
layout: layouts/default.njk
title: Partnership
heroImage: /assets/img/hero-partnership.jpg
dataSidebar: [
    {"href" : "#partnership", "name" : "Partnership"}
]
---

section#partnership
  p 
    | We received primers and L-arabinose from the iGEM UBrawijaya team in return for BL21(DE3), as well as linearized plasmid backbones for the pSB1C3 and pSB1K3 plasmids that iGEM UGM Indonesia sent. Without the help of the iGEM UBrawijaya team, we wouldn't be able to continue our experiments. IGEM UBrawijaya also recommended us to utilize PCR instead of using restriction and ligase enzymes for our gene amplification and Gibson assembly due to their enzymes close to being expired and purchasing a new enzyme would be more costly. In return we helped iGEM UBrawijaya when they had a problem when amplifying the plasmid backbone by sending them the assembled plasmid backbone.
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/partnership-1.jpg" style="max-width:80%; width:80%;")
    figcaption.figure-caption #[b Figure 1.] pSB1C3 plasmid and pSB1K3 plasmid sent by UGM Indonesia.
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/partnership-2.jpg" style="max-width:50%; width:50%;")
    figcaption.figure-caption #[b Figure 2.] f/r psB1K3 primer and L-arabinose sent to us by iGEM UBrawijaya.