---
layout: layouts/default.njk
title: Safety
heroImage: /assets/img/hero-safety.jpg
dataSidebar: [
    {"href" : "#workspace", "name" : "Workspace"},
    {"href" : "#chemicals", "name" : "Chemicals and Strain Safety"},
    {"href" : "#covid19protocols", "name" : "COVID-19 Protocols"}
]
---

<div class="col-12 col-lg-9">
    <section id="workspace">
        <h4 class="display-4 text-primary mb-4">
            Workspace
        </h4>
        <p>
            We were able to develop and conduct the majority of our experimental activity in the Laboratory of Genetic Engineering, Centre Study of Biotechnology, Universitas Gadjah Mada. Due to the unavailability of certain tools, we were allowed to use another laboratory provided by the centre study of biotechnology under the supervision of our PI. All of our labs are biosafety level 2 with open bench, LAF, and closed air circulation which may prevent the leakage of our microorganisms to the environment. The lab technician gave us a brief introduction, lab safety rules, and direct training of using certain tools for our experiments.
        </p>
    </section>
    <section id="chemicals">
        <h4 class="display-4 text-primary mb-4">
            Chemicals and Strain Safety
        </h4>
        <p>
            We utilized Escherichia coli BL21 (DE3) chassis which is confirmed as a non-hazardous microorganism and causes minimal chronic impact for humans. We also used Chromobacterium violaceum ATCC 12472 which possibly causes health impacts especially for open scars. In addition, it may also be the source of toxicity due to the production of volatile cyanide. Handling this microorganism has been our main concern especially to avoid the risks related to this species. Wearing a safety lab coat, gloves, masks, and working in a closed system were mandatory for us during the entire experiment. Destruction and detoxification of all tools and samples after use was also considered in our safety lab list in order to prevent any leakage and accidental strain release to the environment.
        </p>
        <p>
            Chemicals such as hydrogen cyanide (HCN), picric acid, and ethidium bromide (EtBr) were carefully handled using standard lab procedure, especially for HCN that is handled inside the fume hood. Different containers for chemical waste disposal are also things to be considered during the entire experiment.
        </p>
    </section>
    <section id="covid19protocols">
        <h4 class="display-4 text-primary mb-4">
            COVID-19 Protocols
        </h4>
        <p>
            The COVID-19 protocols became our main concern during the lab activity due to the rapid increment of positive cases in Indonesia. Our lab capacity was limited to 6 people each day, thus we divided our wet lab team to work a maximum of 2 people per day inside the laboratory. We also applied some COVID-19 prevention policies from the government below:
        </p>
        <ol>
            <li>Wearing double masks</li>
            <li>Applying 1 - 1,5 meters safety distance with the other labmates</li>
            <li>Washing hand or spraying hand sanitizer regularly</li>
            <li>Avoiding direct physical contact</li>
        </ol>
        <p>
            In addition, all of our lab work team members have already vaccinated at least the first dose of vaccine.
        </p>
    </section>
</div>