---
layout: layouts/default.njk
title: Sustainable Development Impact
heroImage: /assets/img/hero-sustainable.jpg
dataSidebar: [
    {"href" : "#sdg1", "name" : "SDG NO. 1: End poverty in all its forms everywhere"},
]
dataReferences: [
    {
      "reference" : "Obrecht, A., Pham-Truffert, M., Spehn, E., Payne, D., 2021, Achieving the SDGs with Biodiversity. <i>Swiss Academy of Sciences</i>, vol. 16, no. 1.",
      "online" : "false"
    },
]
---

p 
  | The UGM Indonesia iGEM team tried to map the possible impact of AUVIOLA to help achieve The 2030 Agenda for Sustainable Development with its 17 Sustainable Development Goals (SDGs).
figure.text-center
      img.figure-img.img-fluid.rounded(src="/assets/img/sustainable-1.png" style="max-width:80%; width:80%")
section#sdg1
  h4.display-4.text-primary
    | SDG NO. 1: End poverty in all its forms everywhere
  ul 
    li Provide safe and stable jobs for rural communities.
    li Adding a variety of employment opportunities: conventional processes only involve construction, operation, delivery of materials, and sellers. Meanwhile, with bioleaching there is a new job field: biologist.
section#sdg3
  h4.display-4.text-primary
    | SDG NO. 3: Ensure healthy lives and promote well-being for all at all ages
  ul 
    li Reduce direct contact with mercury/cyanide, and high operating temperature tools for gold processing.
    li Reducing cyanide contamination to agricultural land and surrounding water sources.
section#sdg6
  h4.display-4.text-primary
    | SDG NO. 6: Ensure availability and sustainable management of water and sanitation for all
  ul 
    li Reducing cyanide that is discharged into rivers, lakes, and groundwater which are the sources of community water, thereby preventing diseases caused by cyanide.
section#sdg8
  h4.display-4.text-primary
    | SDG NO. 8: Promote sustained, inclusive and sustainable economic growth, full and productive employment and decent work for all
  ul 
    li Creating stable and safe jobs.
    li Potential to increase the village/community economy without compromising the health (well being) of the surrounding community.
    li Opening funding opportunities by international funding institutions, universities, research institutions, NGOs, and even private companies.
section#sdg9
  h4.display-4.text-primary
    | SDG NO. 9: Build resilient infrastructure, promote inclusive and sustainable industrialization and foster innovation
  ul 
    li Introducing bio hydrometallurgical processes to the mining sector. With implementation into smallholder mines, it can trigger large mining companies to use a similar process. Where the bio hydrometallurgical process is more sustainable and produces fewer emissions than pyrometallurgy.
section#sdg11
  h4.display-4.text-primary
    | SDG NO. 11: Make cities and human settlements inclusive, safe, resilient, and sustainable
  ul 
    li Reducing cyanide exposure to the environment, thereby creating a healthier village/community environment.
    li Biohydrometallurgical processes produce less greenhouse gases than conventional processes.
    li Potential to use renewable energy for heating processes in bioreactors. In the pyrometallurgical process, heating at high temperatures is difficult to achieve with renewable energy, so most use coal/petroleum combustion.
section#sdg12
  h4.display-4.text-primary
    | SDG NO.12: Ensure sustainable consumption and production patterns
  ul 
    li Ensuring food safety and health for surrounding communities who are not involved with mining activities.
    li Save on the use of LPG which is currently still subsidized by the government.
section#sdg13
  h4.display-4.text-primary
    | SDG NO. 13: Take urgent action to combat climate change and its impacts
  ul 
    li Achieved carbon offset, compared to conventional ASGM process.
    li Potential to use renewable energy for heating processes in bioreactors. In the pyrometallurgical process, heating at high temperatures is difficult to achieve with renewable energy, so most use coal/petroleum combustion.
section#sdg14
  h4.display-4.text-primary
    | SDG NO. 14: Conserve and sustainably use the oceans, seas, and marine resources for sustainable development
  ul
    li Reducing cyanide that enters fresh water, so that the ecosystem in the water is maintained.
section#sdg15
  h4.display-4.text-primary
    | SDG NO. 15: Protect, restore, and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss
  ul
    li Protecting terrestrial ecosystems due to reduced cyanide entering water source.
section#sdg17
  h4.display-4.text-primary
    | SDG NO. 17: Strengthen the means of implementation and revitalize the global partnership for sustainable development
  ul
    li Opening opportunities for collaboration with NGOs, research bodies, and universities both on a national and international scale.
section#weddingcake
  h4.display-4.text-primary
    | SDGs wedding cake
  p 
    | Several studies suggest that to obtain a well-coordinated implementation of the SDGs, we should understand the interaction between SDGs. Actions and inactions toward specific goals positively or negatively affect progress of the other goals. The SDG “Wedding Cake” model explains these interactions. The four SDGs that appear particularly important in achieving sustainability are the SDGs number 6, 13, 14, and 15 which contribute in most cases to the achievement of multiple other goals.
    a(href='#reference-1')
      sup 1
  figure.text-center
    img.figure-img.img-fluid.rounded(src="/assets/img/sustainable-weddingcake.png" style="max-width:80%; width:80%;")
    figcaption.figure-caption #[b Figure 1.] The SDG “Wedding Cake” shows the caste of SDGs. The biosphere as the foundation of all remaining SDGs points. The middle and the top part cannot be achieved without achieving the SDGs number 6, 13, 14, and 15.
  p 
    | AUVIOLA has the potential to fulfill all the SDGs that become the foundation in the Wedding Cake model. However, it is impossible to achieve all the SDGs alone in a very short period of time. Thus, this year  iGEM UGM Indonesia will be focused more on the biosphere part by speaking with as many people and experts as possible that will help us to understand the solution and create the best solution and target the right problem.
  


